.blog-post {
  color: $black;

  @include min-media($screen-lg) {
    margin-right: 42px;
    flex-grow: 1;
    width: 300px;
  }

  &:last-child {
    @include min-media($screen-lg) {
      margin-right: 0;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 193px;
    object-fit: cover;
    color: transparent;
    background-color: $gray;
  }

  &__title {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
  }

  &__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 21px;
  }

  &__link {
    $letter-spacing: 4px;
    @include underline(-13px, $main-color, 2px, $letter-spacing);

    position: relative;
    margin-top: 40px;
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: $letter-spacing;
    color: $main-color;

    @include hover {
      color: $secondary-color;
    }

    @include active {
      color: $secondary-color;
    }

    &::before {
      @include hover {
        background-color: $secondary-color;
      }

      @include active {
        background-color: $secondary-color;
      }
    }
  }
}
