header.header
    .header__mobile-header
      .header__main.header__main--mobile-header
        .header__logo.header__logo--mobile
          +logo("mobile")
        button(type="button" class="header__menu-trigger" data-mobile-menu-trigger)
          span
    .header__mobile-menu
      .header__main
        .header__content.header__content--top
          .header__container
            .header__row
              .header__col.header__col--top
                .header__logo.header__logo--tablet
                  +logo("tablet")
                .header__search.header__search--tablet
                  +search("Tablet")
                a(href="#" class="header__label header__label--pick-place" data-pick-place-trigger)
                  +icon("mark")
                  span.header__label-text Владивосток
                a(href="tel:+78007377705" class="header__label header__label--contact")
                  span 8 800 737-77-05
                a(href="#" class="header__label header__label--auth" )
                  +icon("person")
                  span.header__label-text Вход/Регистрация
                a(href="#" class="header__label header__label--stars" )
                  span.header__label-text 10
                  +icon("star")
                a(href="#" class="header__label header__label--cart" )
                  span.header__label-text.header__label-text--cart-currency 2500
                  +icon("cart")
                button(type="button" class="header__menu-trigger header__menu-trigger--tablet" data-mobile-menu-trigger)
                  span
        .header__content.header__content--main
          .header__container
            .header__row
              .header__col.header__col--main
                .header__tools
                  .header__logo.header__logo--desktop
                    +logo()
                  .header__search.header__search--desktop
                    +search("Main")
                  .header__pick-place
                    +pick-place()
                include ../main-nav/main-nav
                .header__contacts
                  include ../header-contacts/header-contacts
