header.header
    .header__mobile-header
      .header__main.header__main--mobile-header
        .header__logo.header__logo--mobile
          +logo({ mods: 'mobile' })
        button.header__menu-trigger(type='button' data-mobile-menu-trigger)
          span
    .header__mobile-menu
      .header__main
        .header__content.header__content--top
          .header__container
            .header__row
              .header__col.header__col--top
                .header__logo.header__logo--tablet
                  +logo({ mods: 'tablet, large' })
                .header__search.header__search--tablet
                  +search({ id: 'Tablet', mods: 'tablet' })
                a.header__label.header__label--pick-place(href='#' data-pick-place-trigger)
                  +icon({ name: 'mark' })
                  span.header__label-text Владивосток
                a.header__label.header__label--contact(href='tel:+78007377705')
                  span 8 800 737-77-05
                a.header__label.header__label--auth(href='#')
                  +icon({ name: 'person' })
                  span.header__label-text Вход/Регистрация
                a.header__label.header__label--stars(href='#')
                  span.header__label-text 10
                  +icon({ name: 'star' })
                a.header__label.header__label--cart(href='#')
                  span.header__label-text 2500
                  +icon({ name: 'cart' })
                button.header__menu-trigger.header__menu-trigger--tablet(type='button' data-mobile-menu-trigger)
                  span
        .header__content.header__content--main
          .header__container
            .header__row
              .header__col.header__col--main
                .header__tools
                  .header__logo.header__logo--desktop
                    +logo()
                  .header__search.header__search--desktop
                    +search({ id: 'Main' })
                  .header__pick-place
                    include ../pick-place/pick-place
                include ../main-nav/main-nav
                .header__contacts
                  include ../header-contacts/header-contacts
