mixin tabs(options={})
  //- Принимает:
  //-   options.id   {string} - ID слайдера
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
        +slider({ id: 'ID', mods: 'Mods' })
          .slide-1.swiper-slide
          .slide-2.swiper-slide
          ......
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' tabs--' + modsList[i].trim();
      }
    }
  //-
  .tabs(id=options.id)&attributes(attributes)
    each item, index in options.tabs
      input(type='radio' id=('tab-' + index) name=options.name checked=item.checked)
    .tabs__nav
      each item, index in options.tabs
        label(for='tab-' + index).tabs__nav-item= item.name
    .tabs__content
      block
