header.page-header
    .page-header__mobile-header
      .page-header__main.page-header__main--mobile-header
        .page-header__logo.page-header__logo--mobile
          +logo({ mods: 'mobile' })
        button.page-header__menu-trigger(type='button' data-mobile-menu-trigger)
          span.page-header__menu-trigger-inner
    .page-header__mobile-menu
      .page-header__main
        .page-header__content.page-header__content--top
          .page-header__container
            .page-header__row.page-header__row--top
              .page-header__col--top-left
                +page-header-action({ icon: 'mark', text: 'Владивосток', mods: 'pick-place' })(data-pick-place-trigger)
                .page-header__logo.page-header__logo--tablet
                  +logo({ mods: 'tablet, large' })
              .page-header__col--top-right
                .page-header__search.page-header__search--tablet
                  +search({ id: 'Tablet', mods: 'tablet' })
                +page-header-action({ text: '8 800 737-77-05', mods: 'contact' })(href='tel:+78007377705')
                +page-header-action({ icon: 'person',text: 'Вход/Регистрация', mods: 'auth' })
                +page-header-action({ icon: 'star',text: '10', mods: 'stars' })
                +page-header-action({ icon: 'cart',text: '2500', mods: 'cart' })
                button.page-header__menu-trigger.page-header__menu-trigger--tablet(type='button' data-mobile-menu-trigger)
                  span.page-header__menu-trigger-inner
        .page-header__content.page-header__content--main
          .page-header__container
            .page-header__row
              .page-header__col--tools
                .page-header__logo.page-header__logo--desktop
                  +logo()
                .page-header__search.page-header__search--desktop
                  +search({ id: 'Main' })
                .page-header__pick-place
                  include ../pick-place/pick-place
              .page-header__col--main-nav
                include ../main-nav/main-nav
              .page-header__col--contacts
                include ../header-contacts/header-contacts
