.btn {
  margin: 0;
  padding: 14px 66px;
  display: inline-block;
  border: none;
  font-family: $secondary-font-family;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  color: $white;
  text-align: center;
  background-color: $secondary-color;
  cursor: pointer;

  &--full-width {
    display: block;
  }
}
