.main-slider.swiper-container(id='mainSlider')
  .main-slider__wrapper.swiper-wrapper
    .main-slider__slide.swiper-slide(style="background-image:url(static/images/content/main-slider/slide-1.jpg)")
      .main-slider__container
        .main-slider__container-inner
          .main-slider__content.main-slider__content--slide
            h2.main-slider__title
              | Поступи
              <br />
              | в зарубежный ВУЗ
            +btn({ text: 'Подробнее', mods: 'secondary' })(href='#')
    .main-slider__slide.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/2)")
      .main-slider__container
        .main-slider__container-inner
          .main-slider__content.main-slider__content--slide
            h2.main-slider__title
              | Поступи
              <br />
              | в зарубежный ВУЗ
            +btn({ text: 'Подробнее', mods: 'secondary' })(href='#')
    .main-slider__slide.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/3)")
      .main-slider__container
        .main-slider__container-inner
          .main-slider__content.main-slider__content--slide
            h2.main-slider__title
              | Поступи
              <br />
              | в зарубежный ВУЗ
            +btn({ text: 'Подробнее', mods: 'secondary' })(href='#')
    .main-slider__slide.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/4)")
      .main-slider__container
        .main-slider__container-inner
          .main-slider__content.main-slider__content--slide
            h2.main-slider__title
              | Поступи
              <br />
              | в зарубежный ВУЗ
            +btn({ text: 'Подробнее', mods: 'secondary' })(href='#')
    .main-slider__slide.swiper-slide(style="background-image:url(http://lorempixel.com/1000/1000/nightlife/5)")
      .main-slider__container
        .main-slider__container-inner
          .main-slider__content.main-slider__content--slide
            h2.main-slider__title
              | Поступи
              <br />
              | в зарубежный ВУЗ
            +btn({ text: 'Подробнее', mods: 'secondary' })(href='#')
  .main-slider__bottom
    .main-slider__container
      .main-slider__container-inner
        .main-slider__content.main-slider__content--actions
          .main-slider__actions
            .main-slider__buttons
              .main-slider__button.main-slider__button--prev.swiper-button-prev
                +icon({ name: 'arrow' })(class='main-slider__arrow')
              .main-slider__button.main-slider__button--next.swiper-button-next
                +icon({ name: 'arrow' })(class='main-slider__arrow')
            .main-slider__pagination.swiper-pagination
  
