mixin social-links(options = {})
  //- Принимает:
  //-   options.items  {array} - массив обьектов иконок
  //-   options.items.item {object} - обьект с данными иконок
        options.items.item.name {string} - имя иконки
        options.items.item.link {string} - ссылка
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
    +social-links({ items: [
      {name: 'inst', link: '#'}, 
      {name: 'fb', link: '#'}, 
      {name: 'youtube', link: '#'}, 
      {name: 'vk', link: '#'}
    ]})
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' social-links--' + modsList[i].trim();
      }
    }
    
  .social-links(class=allMods)
    span.social-links__label Подписаться
    ul.social-links__list
      each item in options.items
        li.social-links__item
          a.social-links__link(href=item.link)
            +icon({ name: item.name })
