mixin search(options)
  //- Принимает:
  //-   options.id   {string} - id компонента
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
      +search({ id: 'id', mods: 'mods...' })
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' search--' + modsList[i].trim();
      }
    }
    
  form.search(class=allMods action='#' autocomplete='off')
    .search__main
      input.search__field(type='text' name='search' placeholder='Поиск...' id='searchTrigger' + options.id)
      label.search__open(for='searchTrigger' + options.id)
        +icon({ name: 'loop' })(class='search__icon')
