.tabs {

  & > input {
    display: none;
  }

  &__content {
    margin-top: 12px;
  }

  &__nav-item {
    @include underline(0, transparent, 1px);
    position: relative;
    margin-right: 45px;
    margin-bottom: 30px;
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: 24px;
    line-height: 28px;
    cursor: pointer;
    color: $main-color;

    @include hover {
      color: $secondary-color;
    }

    @include active {
      color: $secondary-color;
    }

    &::before {
      @include hover {
        background-color: $secondary-color;
      }

      @include active {
        background-color: $secondary-color;
      }
    }

    #tab-0:checked ~ .tabs__nav &:nth-child(1),
    #tab-1:checked ~ .tabs__nav &:nth-child(2),
    #tab-2:checked ~ .tabs__nav &:nth-child(3),
    #tab-3:checked ~ .tabs__nav &:nth-child(4) {
      color: $secondary-color;

      &::before {
        background-color: $secondary-color;
      }
    }
  }

  &__pane {
    display: none;
    opacity: 0;
    transition: opacity 0.4s ease-in;

    #tab-0:checked ~ .tabs__content &:nth-child(1),
    #tab-1:checked ~ .tabs__content &:nth-child(2),
    #tab-2:checked ~ .tabs__content &:nth-child(3),
    #tab-3:checked ~ .tabs__content &:nth-child(4) {
      display: block;
      opacity: 1;
    }
  }
}
