.header-contacts
  ul.header-contacts__links
    li.header-contacts__item
      span.header-contacts__label Бесплатная линия
      a(href="#" class="header-contacts__contact") 8 800 737-77-05
    li.header-contacts__item
      span.header-contacts__label WhatsApp
      a(href="#" class="header-contacts__contact") 8 800 737-77-05
      small.header-contacts__details
        | Петропавловск-Камчатский,
        <br />
        |ул. Садовая, 12, офис 32
    li.header-contacts__item
      span.header-contacts__label WhatsApp
      a(href="#" class="header-contacts__contact") 8 800 737-77-05
      small.header-contacts__details
        | Петропавловск-Камчатский,
        <br />
        | ул. Водолазная, 70, офис 12
    //- li.header-contacts__item
    //-   span.header-contacts__label Skype 
    //-   a(href="#" class="header-contacts__contact") excelentephone
  .header-contacts__social
    +social-links([
        {name: "inst", link: "#"}, 
        {name: "fb", link: "#"}, 
        {name: "youtube", link: "#"}, 
        {name: "vk", link: "#"}
      ])
    
  
