mixin blog-post(options)
  //- Принимает:
  //-   options.id   {string} - ID слайдера
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
        +slider({ id: 'ID', mods: 'Mods' })
          .slide-1.swiper-slide
          .slide-2.swiper-slide
          ......
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' blog-post--' + modsList[i].trim();
      }
    }
  //-
  article.blog-post(id=options.id)&attributes(attributes)
    img.blog-post__image(src='static/images/content/blog-post/' + options.imageName + '.jpg' srcset='static/images/content/blog-post/' + options.imageName + '@2x.jpg 2x, static/images/content/blog-post/' + options.imageName + '@3x.jpg 3x' alt=options.title)
    h1.blog-post__title= options.title
    p.blog-post__text
      block
    a.blog-post__link(href=options.link) Подробнее
  
