.main-nav {
  // display: flex;

  &__list {
    display: flex;
    flex-direction: column;

    @include min-media($screen-md) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include min-media($screen-md) {
      min-height: 50px;
    }
  }

  &__list--dropdown {

    @include min-media($screen-md) {
      margin-bottom: 0;
    }

    @include min-media($screen-xxl) {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 100;
      padding: 22px 34px 18px 25px;
      border: 1px solid $main-color;
      border-top: none;
      display: none;
      background-color: $white;
    }

    .main-nav__item {
      @include min-media($screen-md) {
        margin-bottom: 0;
      }

      @include min-media($screen-xxl) {
        padding-left: 0;
        margin-bottom: 5px;
      }
    }

    .main-nav__link {
      margin-top: 0;
      margin-bottom: 0;
      font-family: $base-font-family;
      font-size: 14px;
      line-height: 28px;
      font-weight: 400;
      color: $black;
      text-transform: none;
      white-space: nowrap;

      &:hover {
        color: $secondary-color;

        &::before {
          content: "";
        }
      }

      @include min-media($screen-md) {
        font-size: 10px;
        line-height: 24px;
      }
    }
  }

  &__item {
    order: 1;

    @include min-media($screen-md) {
      margin-bottom: 10px;
      min-width: 198px;

      &--countries {
        order: 2;
      }

      &--schools {
        order: 3;
      }

      &--contacts {
        order: 4;
      }

      .main-nav__list--dropdown & {
        margin-right: 0;
      }
    }

    @include min-media($screen-xxl) {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 10px;

      &:not(:last-child) {
        margin-right: 45px;
      }

      &:hover {
        .main-nav__list--dropdown {
          display: block;
        }
      }
    }
  }

  &__link {
    position: relative;
    margin-top: 69px;
    margin-bottom: 15px;
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: 24px;
    line-height: 31px;
    font-weight: 700;
    color: $main-color;
    text-transform: uppercase;

    &:not(:first-child) {
      margin-top: 50px;
    }

    &::before {
      position: absolute;
      bottom: 3px;
      left: 0;
      @include size(100%, 1px);
      background-color: $secondary-color;
    }

    @include min-media($screen-md) {
      margin-top: 11px;
      margin-bottom: 14px;
      font-size: 18px;
    }

    @include min-media($screen-xxl) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: $white;
      font-weight: 400;
    }
  }
}
