.main-nav {
  @include min-media($screen-md) {
    margin-left: $tablet-menu-left-offset;
  }

  @include min-media($screen-lg) {
    position: relative;
    left: -19px;
    margin-left: 0;
  }

  @include min-media($screen-xl) {
    position: static;
    flex-grow: 2;
  }

  .header--pick-place-opened & {
    display: none;

    @include min-media($screen-md) {
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    @include min-media($screen-sm) {
      flex-wrap: wrap;
      flex-direction: row;
      min-height: $desktop-header-height;
    }

    @include min-media($screen-lg) {
      padding-left: 0;
    }

    @include min-media($screen-xl) {
      justify-content: space-between;
    }

    &--dropdown {

      @include min-media($screen-sm) {
        margin-bottom: 0;
      }

      @include min-media($screen-xl) {
        position: absolute;
        z-index: 100;
        top: 100%;
        left: -13px;
        padding: 22px 42px 23px 17px;
        display: none;
        background-color: $white;
        border: 1px solid $main-color;
        border-top: none;
      }
    }
  }

  &__item {
    order: 1;

    @include min-media($screen-sm) {
      margin-right: 10px;
      width: 47%;

      .main-nav__list--dropdown & {
        margin-right: 0;
      }

      &--countries {
        order: 2;
      }

      &--schools {
        order: 3;
      }

      &--contacts {
        order: 4;
      }
    }

    @include min-media($screen-md) {
      margin-right: 0;
      margin-bottom: 10px;
      width: auto;
      min-width: 198px;

      .main-nav__list--dropdown & {
        margin-right: 0;
      }
    }

    @include min-media($screen-xl) {
      position: relative;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      min-width: auto;
      min-height: 50px;

      &--schools {
        order: 1;
      }

      &--blog {
        order: 3;
      }

      &:not(:last-child) {
        margin-right: 0;
      }

      &:hover {
        .main-nav__list--dropdown {
          display: block;
        }
      }
    }

    .main-nav__list--dropdown & {

      @include min-media($screen-sm) {
        margin-bottom: 0;
        display: inline-block;
        width: auto;

        &::after {
          content: ",";
          color: $secondary-color;
        }

        &:last-child::after {
          content: "";
        }
      }

      @include min-media($screen-md) {
        display: block;

        &::after {
          display: none;
        }
      }

      @include min-media($screen-xl) {
        padding-left: 0;
        min-height: auto;
      }
    }
  }

  &__link {
    @include underline(3px, $secondary-color, 1px);

    position: relative;
    margin-top: 69px;
    margin-bottom: 15px;
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-transform: uppercase;
    color: $main-color;

    &:not(:first-child) {
      margin-top: 50px;
    }

    &::before {
      display: none;
    }

    .main-nav__item--active > & {
      color: $secondary-color;
    }

    @include hover {
      color: $secondary-color;
    }

    @include active {
      color: $secondary-color;
    }

    @include min-media($screen-sm) {
      margin-top: 11px;
      margin-bottom: 14px;
      font-size: 18px;
    }

    @include min-media($screen-xl) {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }

    .main-nav__list--dropdown & {
      margin-top: 0;
      margin-bottom: 0;
      font-family: $base-font-family;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      white-space: nowrap;
      text-transform: none;
      color: $black;

      @include hover-before() {
        display: block;
      }

      @include active-before() {
        display: block;
      }

      @include min-media($screen-sm) {
        font-size: 10px;
        line-height: 24px;
      }

      @include min-media($screen-xl) {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}
