mixin roadmap-step(options)
  //- Принимает:
  //-   options.icon    {string} - имя иконки
  //-   options.mods    {string} - список модификаторов
  //-   options.title {text}   - Заголовок
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' roadmap-step--' + modsList[i].trim();
      }
    }
  //- блок
  article.roadmap-step(class='roadmap-step--' + options.id.toLowerCase() + allMods)&attributes(attributes)
    input(id='roadmapStep' + options.id type='radio' name='roadmap-step')
    .roadmap-step__content
      .roadmap-step__header
        .roadmap-step__icon
          +icon({ name: 'roadmap-' + options.id.toLowerCase() })(class='roadmap-step__svg roadmap-step__svg--' + options.id.toLowerCase())
        h1.roadmap-step__title= options.title
        label.roadmap-step__toggle(for='roadmapStep' + options.id)
      .roadmap-step__body
        block
    
