.roadmap {
  @include container();

  &__content {
    @include row();
  }

  &__main {
    @include col()
    @include col(sm, 12, $grid-columns, $grid-gutter-width-sm);
    @include col(md, 6, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 6, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 6, $grid-columns, $grid-gutter-width-xl);

    @include min-media($screen-xl) {
      padding-right: 0;
    }
  }

  &__title {
    margin-top: 58px;
    margin-bottom: 48px;
    font-family: $secondary-font-family;
    font-size: 48px;
    line-height: 62px;
    color: $main-color;

    @include min-media($screen-md) {
      margin-bottom: 24px;
    }
  }

  &__images {
    position: relative;
    @include col(md, 6, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 6, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 6, $grid-columns, $grid-gutter-width-xl);

    display: none;

    @include min-media($screen-md) {
      padding-left: 0;
      display: block;
    }

    @include min-media($screen-xl) {
      padding-left: 18px;
    }
  }

  &__image {
    position: absolute;
    @include size(100%);
  }
}
