mixin slider(options)
  //- Принимает:
  //-   options.id   {string} - ID слайдера
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
        +slider({ id: 'ID', mods: 'Mods' })
          .slide-1.swiper-slide
          .slide-2.swiper-slide
          ......
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider--' + modsList[i].trim();
      }
    }
  //- 
  .slider.swiper-container(id=options.id class=(options.navPosition && options.navPosition.toLowerCase() == 'out' ? 'slider--nav-out' : '') + allMods)&attributes(attributes)
    .slider__wrapper.swiper-wrapper
      block
  if (options.navPosition && options.navPosition.toLowerCase() == 'in' )
    .slider__btn.slider__btn--prev.swiper-button-prev
      +icon({ name: 'arrow' })
    .slider__btn.slider__btn--next.swiper-button-next
      +icon({ name: 'arrow' })
  if (options.navPosition && options.navPosition.toLowerCase() == 'out')
    .slider__nav
      .slider__btn.slider__btn--prev.swiper-button-prev
        +icon({ name: 'arrow' })
      .slider__btn.slider__btn--next.swiper-button-next
        +icon({ name: 'arrow' })
