mixin page-section(options)
  //- Принимает:
  //-   options.title   {string} - название секции
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
        +page-section({ title: 'Title', mods: 'mods....' })
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-section--' + modsList[i].trim();
      }
    }
  //- 
  section.page-section(class=allMods)&attributes(attributes)
    .page-section__wrap
      .page-section__content
        h2.page-section__title= options.title
        block
