.program-selection {
  position: relative;
  background-color: $main-color;

  @include min-media($screen-md) {
    background-color: transparent;
  }

  @include min-media($screen-xl) {
    margin-bottom: 30px;
  }

  &__container {
    @include container();
  }

  &__inner {
    @include row();
    // @include row($grid-gutter-width, $grid-gutter-width-sm, $grid-gutter-width-md, $grid-gutter-width-lg, $grid-gutter-width-xl);
  }

  &__content {
    @include col();
    @include col(sm, 12, $grid-columns, $grid-gutter-width-sm);
    @include col(md, 12, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 12, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 12, $grid-columns, $grid-gutter-width-xl);

    position: relative;
    padding-top: 43px;
    padding-bottom: 47px;

    @include min-media($screen-md) {
      padding-top: 39px;
      padding-bottom: 61px;
      display: flex;
      flex-wrap: wrap;
      background-color: $gray;
    }

    @include min-media($screen-xl) {
      background-color: transparent;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: $gray;
        box-shadow: 8px 8px 10px rgba($black, 0.1);
      }

      &::after {
        content: '';
        width: 10000px;
        left: -10000px;
        z-index: -2;
      }

      &::before {
        right: 125px;
      }
    }
  }

  &__title {
    font-family: $secondary-font-family;
    font-size: 48px;
    line-height: 53px;
    color: $white;

    @include min-media($screen-md) {
      margin-bottom: 64px;
      flex-basis: 100%;
      color: $main-color;
    }
  }

  &__text {
    margin-top: 31px;
    margin-bottom: 38px;
    font-size: 14px;
    line-height: 21px;
    color: $white;

    @include min-media($screen-md) {
      margin-top: 55px;
      margin-bottom: 0;
      flex-basis: 100%;
      max-width: 950px;
      order: 1;
      font-weight: 700;
      color: $main-color;
    }

    @include min-media($screen-xl) {
      padding-left: 80px;
    }
  }

  &__main {
    width: 100%;

    @include min-media($screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      min-height: 175px;
    }

    @include min-media($screen-lg) {
      min-height: auto;
    }

    @include min-media($screen-xl) {
      padding-left: 80px;
    }

    & > *:not(.program-selection__btn) {
      margin-bottom: 34px;

      @include min-media($screen-sm) {
        margin-bottom: 0;
        flex-basis: calc(50% - 10px);
      }

      @include min-media($screen-md) {
        flex-basis: calc(33% - 20px);
      }

      @include min-media($screen-lg) {
        flex-basis: calc(25% - 10px);
      }

      @include min-media($screen-xl) {
        flex-basis: calc(25% - 22px);
      }
    }

  }

  &__btn {
    width: 100%;

    @include min-media($screen-sm) {
      padding-left: 0;
      padding-right: 0;
      flex-basis: calc(50% - 10px);
      align-self: flex-end;
    }

    @include min-media($screen-md) {
      padding-left: 43px;
      padding-right: 43px;
      flex-basis: calc(33% - 20px);
      flex-grow: 0;
      color: $white;
      background-color: $main-color;
    }

    @include min-media($screen-lg) {
      flex-basis: 193px;
    }
  }
}
