.slide-group {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;

  &--partners {
    max-width: 700px;
    height: 585px;
  }
}
