.roadmap-step {
  $block:  &;
  $block-trigger: ".roadmap-step > input:checked ~ ";
  $block-trigger-mod: ".roadmap-step__content";
  $content-box-shadow: 7px 7px 10px rgba($main-color, 0.3);
  $content-left-offset: 20px;

  position: relative;
  z-index: 1;

  & > input {
    display: none;
  }

  @include min-media($screen-xl) {
    margin-bottom: 14px;
  }

  &__content {
    position: relative;

    @include isActiveBlock($block-trigger) {

      @include min-media($screen-xl) {
        background-color: $main-color;
      }

      @include min-media($screen-xl) {
        box-shadow: $content-box-shadow;
      }
    }

    &::before {
      content: "";
      @include absolute-background-color($gray);
      display: none;

      @include isActiveBlock($block-trigger) {
        display: block;

        @include min-media($screen-sm) {
          background-color: $main-color;
        }

        @include min-media($screen-xl) {
          display: none;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: -18px;
      bottom: 0;
      width: 20px;
      display: none;
      background-color: $main-color;
      box-shadow: $content-box-shadow;

      @include isActiveBlock($block-trigger) {

        @include min-media($screen-xl) {
          display: block;
        }
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 35px;
    color: $main-color;

    @include min-media($screen-sm) {
      padding-left: $content-left-offset;
    }

    @include min-media($screen-md) {
      padding-left: 0;
    }

    @include min-media($screen-lg) {
      padding-left: $content-left-offset * 2;
    }

    @include isActiveBlock($block-trigger, $block-trigger-mod) {
      margin-top: 15px;

      @include min-media($screen-sm) {
        color: $white;
      }
    }

    &::before {
      content: "";
      @include absolute-background-color($white);

      @include isActiveBlock($block-trigger, $block-trigger-mod) {
        display: none;
      }

      @include min-media($screen-md) {
        display: none;
      }
    }
  }

  &__title {
    margin-left: 30px;
    font-family: $secondary-font-family;
    font-size: 20px;
    line-height: 34px;

    @include min-media($screen-sm) {
      margin-left: 50px;
      font-size: 24px;
    }

    @include min-media($screen-md) {
      margin-left: 25px;
      font-size: 22px;
    }

    @include min-media($screen-lg) {
      margin-left: 50px;
      font-size: 24px;
    }

    @include isActiveBlock($block-trigger, $block-trigger-mod) {

      @include min-media($screen-sm) {
        margin-left: 35px;
      }

      @include min-media($screen-xl) {
        margin-top: -20px;
      }
    }
  }

  &__body {
    padding-top: 45px;
    padding-bottom: 32px;
    display: none;
    font-size: 14px;
    line-height: 20px;
    color: $main-color;

    @include min-media($screen-sm) {
      padding-left: $content-left-offset;
    }

    @include min-media($screen-md) {
      padding-left: 0;
    }

    @include min-media($screen-lg) {
      padding-left: $content-left-offset * 2;
    }

    @include isActiveBlock($block-trigger, $block-trigger-mod) {
      display: block;

      @include min-media($screen-sm) {
        color: $white;
      }

      @include min-media($screen-xl) {
        padding-top: 8px;
        padding-bottom: 43px;
        padding-left: 145px;
      }
    }
  }

  &__icon {
    width: 70px;
    text-align: center;
  }

  &__toggle {
    position: absolute;
    top: 30px;
    right: 5px;
    @include size(17px);
    border-radius: 50%;
    border: 1px solid $main-color;
    cursor: pointer;

    @include hover() {
      border-color: pink;
    }

    // @include active() {
    //   border-color: $secondary-color;
    // }

    @include min-media($screen-sm) {
      position: relative;
      top: 0;
      right: 20px;
      margin-left: auto;
    }

    @include min-media($screen-md) {
      right: 0;
    }

    @include min-media($screen-xl) {
      right: 15px;
    }

    @include isActiveBlock($block-trigger, $block-trigger-mod) {

      @include min-media($screen-sm) {
        border-color: $white;
      }

      @include min-media($screen-sm) {
        position: absolute;
        top: 30px;
      }
    }

    // @include hover(".roadmap-step") {
    //   background-color: green;
    // }





    // @include active(".roadmap-step") {
    //   background-color: red;
    // }

    &::before,
    &::after {
      content: "";
      background-color: $main-color;

      @include isActiveBlock($block-trigger, $block-trigger-mod) {

        @include min-media($screen-sm) {
          background-color: $white;
        }
      }

      // @include hover() {
      //   background-color: red;
      // }
      //
      //

      @include focus() {
        background-color: yellow;
      }

    }

    &::before {
      position: absolute;
      top: 3px;
      left: 7px;
      bottom: 3px;
      width: 1px;

      @include isActiveBlock($block-trigger, $block-trigger-mod) {
        display: none;
      }
    }

    &::after {
      position: absolute;
      top: 7px;
      left: 3px;
      right: 3px;
      height: 1px;
    }
  }

  &__svg {
    display: inline-block;
    stroke: $main-color;
    stroke-width: 2;
    fill: none;

    @include isActiveBlock($block-trigger, $block-trigger-mod) {

      @include min-media($screen-sm) {
        stroke: $white;
      }
    }

    &--consultancy {
      @include size(70px);
      fill: $main-color;
      stroke-width: 0;

      @include isActiveBlock($block-trigger, $block-trigger-mod) {

        @include min-media($screen-sm) {
          fill: $white;
        }
      }
    }

    &--payment {
      @include size(59px);
    }

    &--selection {
      @include size(42px, 50px);
    }

    &--docs {
      @include size(50px, 53px);
    }

    &--supervision {
      @include size(60px, 55px);
    }
  }
}
