extends template/main

block variables
	- var title = 'Главная страница'
	- var pageMod = 'page--index'

block content
	include modules/main-slider/main-slider
	include modules/main-page-promo/main-page-promo
	include modules/program-selection/program-selection
	include modules/roadmap/roadmap
	+page-section({ title: 'Страны', mods: 'no-xs-gutters' })
		+slider({ id: 'countrySlider', mods: 'countries', navPosition: 'out' })
			+country-slide({ title: 'Австралия', imageName: 'australia', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'США', imageName: 'usa', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'Япония', imageName: 'japan', link: '#', mods: 'large' })(class='swiper-slide')
			+country-slide({ title: 'Австралия', imageName: 'australia', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'США', imageName: 'usa', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'Япония', imageName: 'japan', link: '#', mods: 'large, top' })(class='swiper-slide')
			+country-slide({ title: 'Австралия', imageName: 'australia', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'США', imageName: 'usa', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'Япония', imageName: 'japan', link: '#', mods: 'large, top' })(class='swiper-slide')
	+page-section({ title: 'Отзывы' })
		+slider({ id: 'reviewsSlider', mods: 'reviews, extra-block', navPosition: 'out', extraBlock: true })
				+review-slide({ id: '24151', name: 'Дарья', imageNameXs: 'dasha-xs', imageNameSm: 'dasha-sm', imageNameMd: 'dasha-md', mods: 'mods' })(class='swiper-slide')
				+review-slide({ id: '26729', name: 'Олег', imageNameXs: 'oleg-xs', imageNameSm: 'oleg-sm', imageNameMd: 'oleg-md',  mods: 'mods' })(class='swiper-slide')
				+review-slide({ id: '12515', name: 'Маша', imageNameXs: 'masha-xs', imageNameSm: 'masha-sm', imageNameMd: 'masha-md',  mods: 'mods' })(class='swiper-slide')
	+page-section({ title: 'Блог' })
		+tabs()
		+blog-post({ id: 'post-1', title: 'Акция от школы ЕС', imageName: 'blog-post-1', link: '#' })
			| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
			| английский язык и совмещать обучение с увлекательными развлечениями!
