extends template/main

block variables
	- var title = 'Главная страница'
	- var pageMod = 'page--index'

block content
	include modules/main-slider/main-slider
	include modules/main-page-promo/main-page-promo
	include modules/program-selection/program-selection
