extends template/main

block variables
	- var title = 'Главная страница'
	- var pageMod = 'page--index'

block content
	include modules/main-slider/main-slider
	include modules/main-page-promo/main-page-promo
	include modules/program-selection/program-selection
	include modules/roadmap/roadmap
	+page-section({ title: 'Страны', mods: 'no-xs-gutters' })
		+slider({ id: 'countrySlider', mods: 'countries', navPosition: 'out' })
			+country-slide({ title: 'Австралия', imageName: 'australia', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'США', imageName: 'usa', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'Япония', imageName: 'japan', link: '#', mods: 'large' })(class='swiper-slide')
			+country-slide({ title: 'Австралия', imageName: 'australia', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'США', imageName: 'usa', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'Япония', imageName: 'japan', link: '#', mods: 'large, top' })(class='swiper-slide')
			+country-slide({ title: 'Австралия', imageName: 'australia', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'США', imageName: 'usa', link: '#' })(class='swiper-slide')
			+country-slide({ title: 'Япония', imageName: 'japan', link: '#', mods: 'large, top' })(class='swiper-slide')
	+page-section({ title: 'Популярные программы' })
		+slider({ id: 'programSlider', mods: 'programs', navPosition: 'out' })
			+program({ title: ['Языковые курсы', 'для начинающих'], imageName: 'program-2', link: '#' })(class='swiper-slide')
				| Япония, Корея, Австралия
				<br />
				| и еще 10 стран
			+program({ title: ['Летние каникулы', 'в Европе'], imageName: 'program-2', link: '#' })(class='swiper-slide')
				| Германия, Чехия, Испания
				<br />
				| и еще 4 страны
			+program({ title: ['Высшее инженерное', 'образование'], imageName: 'program-2', link: '#' })(class='swiper-slide')
				| США, Швейцария, Сингапур
				<br />
				| и еще 19 стран
	+page-section({ title: 'Отзывы' })
		+main-reviews()
	+page-section({ title: 'Ассоцияции и Партнеры' })
		+slider({ id: 'partnerSlider', mods: 'partners', navPosition: 'in' })
			.swiper-slide
				+partners-group({ mods: 'partners' })
					+partner({ link: '#', mods: '1' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '2' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '3' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '4' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '5' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '6' })
						| Ассоциация российских консультантов по образованию
			.swiper-slide
				+partners-group({ mods: 'partners' })
					+partner({ link: '#', mods: '1' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '2' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '3' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '4' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '5' })
						| Ассоциация российских консультантов по образованию
					+partner({ link: '#', mods: '6' })
						| Ассоциация российских консультантов по образованию

	+page-section({ title: 'Блог' })
		+tabs({ id: 'blogPost', name: 'blog-post', tabs: [{ name: 'Все' }, { name: 'Акции', checked: true }, { name: 'Новости' }, { name: 'Мероприятия' }] })
			.tabs__pane
				+slider({ id: 'allPostSlider', mods: 'posts', navPosition: 'out' })
					.swiper-slide
						+blog-post({ id: 'post-1', title: 'Акция от школы ЕС', imageName: 'blog-post-1', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-2', title: 'Акция от школы ЕС', imageName: 'blog-post-2', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-3', title: 'Акция от школы ЕС', imageName: 'blog-post-3', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
			.tabs__pane
				+slider({ id: 'actionsPostSlider', mods: 'posts', navPosition: 'out' })
					.swiper-slide
						+blog-post({ id: 'post-31', title: 'Акция от школы ЕС', imageName: 'blog-post-1', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-4', title: 'Акция от школы ЕС', imageName: 'blog-post-2', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-5', title: 'Акция от школы ЕС', imageName: 'blog-post-3', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
			.tabs__pane
				+slider({ id: 'newsPostSlider', mods: 'posts', navPosition: 'out' })
					.swiper-slide
						+blog-post({ id: 'post-6', title: 'Акция от школы ЕС', imageName: 'blog-post-1', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-7', title: 'Акция от школы ЕС', imageName: 'blog-post-2', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-8', title: 'Акция от школы ЕС', imageName: 'blog-post-3', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
			.tabs__pane
				+slider({ id: 'activitiesPostSlider', mods: 'posts', navPosition: 'out' })
					.swiper-slide
						+blog-post({ id: 'post-9', title: 'Акция от школы ЕС', imageName: 'blog-post-1', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-10', title: 'Акция от школы ЕС', imageName: 'blog-post-2', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
					.swiper-slide
						+blog-post({ id: 'post-11', title: 'Акция от школы ЕС', imageName: 'blog-post-3', link: '#' })
							| Международная сеть языковых школ ЕС объявила об акции для тех, кто хочет изучать 
							| английский язык и совмещать обучение с увлекательными развлечениями!
