@mixin size($a,$b: $a) {
  width: $a;
  height: $b;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

@mixin png($name, $width, $height) {
  background-image: url($png + $name + ".png");
  width: $width;
  height: $height;
  background-repeat: no-repeat !important;

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		background-image: url($png + $name + "@2x.png");
	}

  @media (-webkit-min-device-pixel-ratio: 3),
				 (min-resolution: 288dpi) {
		background-image: url($png + $name + "@3x.png");
	}

  @media (-webkit-min-device-pixel-ratio: 4),
         (min-resolution: 384dpi) {
    background-image: url($png + $name + "@4x.png");
  }
}

@mixin bg-image($name, $ext) {
  background-image: url($general-images + $name + "." + $ext);

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		background-image: url($general-images + $name + "@2x." + $ext);
	}

  @media (-webkit-min-device-pixel-ratio: 3),
				 (min-resolution: 288dpi) {
		background-image: url($general-images + $name + "@3x." + $ext);
	}

  @media (-webkit-min-device-pixel-ratio: 4),
         (min-resolution: 384dpi) {
    background-image: url($general-images + $name + "@4x." + $ext);
  }
}

@mixin min-media($size, $orientation: "landscape") {
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin hover {
  html:not(.touch) & {

    &:hover {
      @content;
    }
  }
}

@mixin hover-before {
  html:not(.touch) & {

    &:hover::before {
      @content;
    }
  }
}

@mixin hover-after {
  html:not(.touch) & {

    &:hover::after {
      @content;
    }
  }
}

@mixin active {
  &:active,
  &:focus,
  &--active {
    @content;
  }
}

@mixin active-before {
  &:active::before,
  &:focus::before,
  &--active::before {
    @content;
  }
}

@mixin underline($pos: 0, $color: $white, $height: 2px) {
  &::before {
    content: "";
    position: absolute;
    bottom: $pos;
    left: 0;
    @include size(100%, $height);
    background-color: $color;
  }
}

@mixin absolute-background-color($color: $white, $index: -1) {
  position: absolute;
  top: 0;
  left: -$grid-gutter-width/2;
  right: -$grid-gutter-width/2;
  bottom: 0;
  z-index: $index;
  background-color: $color;

  @include min-media($screen-sm) {
    left: -$grid-gutter-width-sm/2;
    right: -$grid-gutter-width-sm/2;
  }

  // @include min-media($screen-md) {
  //   left: -$grid-gutter-width-md/2;
  //   right: -$grid-gutter-width-md/2;
  // }
  //
  // @include min-media($screen-lg) {
  //   left: -$grid-gutter-width-lg/2;
  //   right: -$grid-gutter-width-lg/2;
  // }
  //
  // @include min-media($screen-xl) {
  //   left: -$grid-gutter-width-xl/2;
  //   right: -$grid-gutter-width-xl/2;
  // }
}
