nav.main-nav
  ul.main-nav__list
    li.main-nav__item
      a(href="#" class="main-nav__link") О компании
      ul.main-nav__list--dropdown
        li.main-nav__item
          a(href="#" class="main-nav__link") Лицензии и сертификаты
        li.main-nav__item
          a(href="#" class="main-nav__link") Бонусная программа
        li.main-nav__item
          a(href="#" class="main-nav__link") Сотрудничество
        li.main-nav__item
          a(href="#" class="main-nav__link") Вакансии
        li.main-nav__item
          a(href="#" class="main-nav__link") Политика конфиденциальности
        li.main-nav__item
          a(href="#" class="main-nav__link") Наши партнеры
    li.main-nav__item
      a(href="#" class="main-nav__link") Программы
      ul.main-nav__list--dropdown
        li.main-nav__item
          a(href="#" class="main-nav__link") Работа
        li.main-nav__item
          a(href="#" class="main-nav__link") Стажировка
        li.main-nav__item
          a(href="#" class="main-nav__link") Каникулярные
        li.main-nav__item
          a(href="#" class="main-nav__link") Языковые курсы
        li.main-nav__item
          a(href="#" class="main-nav__link") Высшее образование
        li.main-nav__item
          a(href="#" class="main-nav__link") Среднее образование
        li.main-nav__item
          a(href="#" class="main-nav__link") Стипендии и гранты
    li.main-nav__item.main-nav__item--countries
      a(href="#" class="main-nav__link") Страны
      ul.main-nav__list--dropdown
        li.main-nav__item
          a(href="#" class="main-nav__link") США
        li.main-nav__item
          a(href="#" class="main-nav__link") Япония
        li.main-nav__item
          a(href="#" class="main-nav__link") Корея
        li.main-nav__item
          a(href="#" class="main-nav__link") Австралия
        li.main-nav__item
          a(href="#" class="main-nav__link") Германия
        li.main-nav__item
          a(href="#" class="main-nav__link") Англия
    li.main-nav__item
      a(href="#" class="main-nav__link") Услуги
      ul.main-nav__list--dropdown
        li.main-nav__item
          a(href="#" class="main-nav__link") Поступление в зарубежный вуз
        li.main-nav__item
          a(href="#" class="main-nav__link") Визовое сопровождение
        li.main-nav__item
          a(href="#" class="main-nav__link") Поиск и бронирование жилья
        li.main-nav__item
          a(href="#" class="main-nav__link") Волонтерство
    li.main-nav__item.main-nav__item--schools
      a(href="#" class="main-nav__link") Школы
      ul.main-nav__list--dropdown
        li.main-nav__item
          a(href="#" class="main-nav__link") Fanshawe College
        li.main-nav__item
          a(href="#" class="main-nav__link") St. John's University
        li.main-nav__item
          a(href="#" class="main-nav__link") University of Sheffield
        li.main-nav__item
          a(href="#" class="main-nav__link") University of New South
        li.main-nav__item
          a(href="#" class="main-nav__link") Wales - UNSW
        li.main-nav__item
          a(href="#" class="main-nav__link") University of Tokyo
    li.main-nav__item.main-nav__item--blog
      a(href="#" class="main-nav__link") Блог
      ul.main-nav__list--dropdown
        li.main-nav__item
          a(href="#" class="main-nav__link") Акции
        li.main-nav__item
          a(href="#" class="main-nav__link") Отзывы
        li.main-nav__item
          a(href="#" class="main-nav__link") Новости
        li.main-nav__item
          a(href="#" class="main-nav__link") Мероприятия
    li.main-nav__item.main-nav__item--contacts
      a(href="#" class="main-nav__link") Контакты
