nav.main-nav
  ul.main-nav__list
    li.main-nav__item
      a.main-nav__link(href='#') О компании
      ul.main-nav__list--dropdown
        li.main-nav__item
          a.main-nav__link(href='#') Лицензии и сертификаты
        li.main-nav__item
          a.main-nav__link(href='#') Бонусная программа
        li.main-nav__item
          a.main-nav__link(href='#') Сотрудничество
        li.main-nav__item
          a.main-nav__link(href='#') Вакансии
        li.main-nav__item
          a.main-nav__link(href='#') Политика конфиденциальности
        li.main-nav__item
          a.main-nav__link(href='#') Наши партнеры
    li.main-nav__item
      a.main-nav__link(href='#') Программы
      ul.main-nav__list--dropdown
        li.main-nav__item
          a.main-nav__link(href='#') Работа
        li.main-nav__item
          a.main-nav__link(href='#') Стажировка
        li.main-nav__item
          a.main-nav__link(href='#') Каникулярные
        li.main-nav__item
          a.main-nav__link(href='#') Языковые курсы
        li.main-nav__item
          a.main-nav__link(href='#') Высшее образование
        li.main-nav__item
          a.main-nav__link(href='#') Среднее образование
        li.main-nav__item
          a.main-nav__link(href='#') Стипендии и гранты
    li.main-nav__item.main-nav__item--countries
      a.main-nav__link(href='#') Страны
      ul.main-nav__list--dropdown
        li.main-nav__item
          a.main-nav__link(href='#') США
        li.main-nav__item
          a.main-nav__link(href='#') Япония
        li.main-nav__item
          a.main-nav__link(href='#') Корея
        li.main-nav__item
          a.main-nav__link(href='#') Австралия
        li.main-nav__item
          a.main-nav__link(href='#') Германия
        li.main-nav__item
          a.main-nav__link(href='#') Англия
    li.main-nav__item
      a.main-nav__link(href='#') Услуги
      ul.main-nav__list--dropdown
        li.main-nav__item
          a.main-nav__link(href='#') Поступление в зарубежный вуз
        li.main-nav__item
          a.main-nav__link(href='#') Визовое сопровождение
        li.main-nav__item
          a.main-nav__link(href='#') Поиск и бронирование жилья
        li.main-nav__item
          a.main-nav__link(href='#') Волонтерство
    li.main-nav__item.main-nav__item--schools
      a.main-nav__link(href='#') Школы
      ul.main-nav__list--dropdown
        li.main-nav__item
          a.main-nav__link(href='#') Fanshawe College
        li.main-nav__item
          a.main-nav__link(href='#') St. John's University
        li.main-nav__item
          a.main-nav__link(href='#') University of Sheffield
        li.main-nav__item
          a.main-nav__link(href='#') University of New South
        li.main-nav__item
          a.main-nav__link(href='#') Wales - UNSW
        li.main-nav__item
          a.main-nav__link(href='#') University of Tokyo
    li.main-nav__item.main-nav__item--blog
      a.main-nav__link(href='#') Блог
      ul.main-nav__list--dropdown
        li.main-nav__item
          a.main-nav__link(href='#') Акции
        li.main-nav__item
          a.main-nav__link(href='#') Отзывы
        li.main-nav__item
          a.main-nav__link(href='#') Новости
        li.main-nav__item
          a.main-nav__link(href='#') Мероприятия
    li.main-nav__item.main-nav__item--contacts
      a.main-nav__link(href='#') Контакты
