.social-links {
  font-size: 0;

  &__label {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: $main-color;

    @include min-media($screen-md) {
      font-family: $secondary-font-family;
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__list {
    margin-top: 21px;

    @include min-media($screen-md) {
      margin-top: 7px;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 25px;
    }

    @include min-media($screen-md) {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }

  &__link svg {
    @include size(40px);
    fill: $main-color;

    @include min-media($screen-md) {
      @include size(25px);
    }
  }
}
