.social-links {
  display: inline-block;
  font-size: 0;

  &__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: $main-color;

    @include min-media($screen-sm) {
      font-family: $secondary-font-family;
      font-size: 18px;
      line-height: 26px;
    }

    .social-links--footer & {
      display: none;
    }
  }

  &__list {
    margin-top: 21px;

    @include min-media($screen-sm) {
      margin-top: 7px;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 25px;

      @include min-media($screen-sm) {
        margin-right: 24px;
      }
    }

    .social-links--footer &:not(:last-child) {
      margin-right: 20px;

      @include min-media($screen-sm) {
        margin-right: 14px;
      }
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    fill: $main-color;

    @include hover {
      fill: $secondary-color;
    }

    @include active {
      fill: $secondary-color;
    }

    @include min-media($screen-sm) {
      width: 25px;
      height: 25px;
    }

    .social-links--footer & {
      width: 30px;
      height: 30px;
      fill: $white;

      @include min-media($screen-xl) {
        width: 25px;
        height: 25px;
      }
    }
  }
}
