mixin logo(options = {})
  //- Принимает:
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
      +logo({ name: 'mobile', mods: 'large' })
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }
  //- Если имя передано, тогда рендерим иконку
  a.logo(class=allMods)
    +icon({ name: 'logo' })
