section.roadmap
  .roadmap__content
    .roadmap__main
      h2.roadmap__title Как мы работаем
      +roadmap-step({ id: 'Consultancy', title: 'Консультирование', checked: true })
        p 
          | Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
        p 
          | Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, 
          | характера и перспектив на будущее.
      +roadmap-step({ id: 'Payment', title: 'Оплата орг. сбора' })
        p 
          | Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
        p 
          | Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, 
          | характера и перспектив на будущее.
      +roadmap-step({ id: 'Selection', title: 'Подбор программы' })
        p 
          | Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
        p 
          | Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, 
          | характера и перспектив на будущее.
      +roadmap-step({ id: 'Docs', title: 'Оформление документов' })
        p 
          | Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
        p 
          | Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, 
          | характера и перспектив на будущее.
      +roadmap-step({ id: 'Supervision', title: 'Курирование' })
        p 
          | Залог успешного получения образования за рубежом — верный выбор страны, учебного заведения и программы.
        p 
          | Основа нашего подхода — индивидуальная, тщательная работа с каждым студентом и предоставление профессиональной экспертизы: мы предлагаем варианты обучения, исходя из целей студента, его способностей, 
          | характера и перспектив на будущее.
    .roadmap__images
      .roadmap__image(style="background-image:url('static/images/content/roadmap/consultancy.jpg')")
