$slider-button-size: 34px;
$slider-button-size--reviews: 48px;

.slider {
  position: relative;

  &__wrapper {

    .slider--countries & {
      @include min-media($screen-md) {
        flex-wrap: wrap;
      }
    }

    .slider--programs & {
      $space-for-shadow: 6px;

      @include min-media($screen-xl) {
        padding-bottom: $space-for-shadow;
        justify-content: center;
      }
    }
  }

  &__nav {
    position: relative;
    margin-top: 50px;
    font-size: 0;

    .slider--nav-out + & {
      // display: none;
      // position: relative;
    }

    .slider--countries & {
      @include range-media($screen-xs, $screen-sm) {
        margin-left: $grid-gutter-width / 2;
      }
    }

    .slider--reviews + & {
      position: absolute;
      left: 0;
      bottom: 0;
      // margin-top: 47px;
      // order: 2;
      //
      // @include min-media($screen-md) {
      //   position: absolute;
      //   left: 0;
      //   bottom: 50px;
      //   margin-top: 0;
      // }
    }

    .slider--posts & {
      // margin-top: -20px;
      // z-index: 0;
      // text-align: right;
    }

    .main-reviews--opened & {
      display: none;
    }
  }

  &__btn {
    margin-top: -$slider-button-size / 2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $slider-button-size;
    height: $slider-button-size;
    background-color: $secondary-color;
    background-image: none;
    border: 2px solid $secondary-color;

    & + & {
      margin-left: 18px;
    }

    .slider--nav-out + .slider__nav & {
      position: static;
      z-index: 1;
      top: unset;
      margin-top: 0;
      background-color: $white;
    }

    .slider--countries & {
      @include min-media($screen-md) {
        display: none;
      }
    }

    .slider--reviews & {
      @include min-media($screen-md) {
        @include size($slider-button-size--reviews);
      }
    }

    &--prev {
      left: 20px;

      .slider--nav-out & {
        left: unset;
      }
    }

    &--next {
      right: 20px;
      transform: rotateZ(180deg);

      .slider--nav-out + .slider__nav & {
        right: unset;
        // margin-left: 18px;
      }

      .slider--reviews & {

        @include min-media($screen-md) {
          margin-left: 23px;
        }
      }
    }

    svg {
      width: 15px;
      height: 15px;
      fill: $white;

      .slider--nav-out + .slider__nav & {
        fill: $secondary-color;
      }
    }
  }
}
