$slider-button-size: 34px;
$slider-button-size--reviews: 48px;
$extra-block-width: 260px;

.slider {
  position: relative;

  &--extra-block {
    display: flex;
    flex-direction: column;

    @include min-media($screen-md) {
      flex-direction: row;
    }
  }

  &__container {
    .slider--extra-block & {
      width: 100%;
    }
  }

  &__wrapper {

    .slider--countries & {
      @include min-media($screen-md) {
        flex-wrap: wrap;
      }
    }
  }

  &__nav {
    position: relative;
    margin-top: 50px;
    font-size: 0;

    .slider--countries & {
      @include range-media($screen-xs, $screen-sm) {
        margin-left: $grid-gutter-width / 2;
      }
    }

    .slider--reviews & {
      margin-top: 47px;
      order: 2;

      @include min-media($screen-md) {
        position: absolute;
        left: 0;
        bottom: 50px;
        margin-top: 0;
      }
    }

    .slider--posts & {
      margin-top: -20px;
      z-index: 0;
      text-align: right;
    }

    .slider--reviews-opened & {
      display: none;
    }
  }

  &__btn {
    margin-top: -$slider-button-size / 2;
    @include size($slider-button-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: none;
    background-color: $secondary-color;
    border: 2px solid $secondary-color;

    .slider--countries & {
      @include min-media($screen-md) {
        display: none;
      }
    }

    .slider--nav-out & {
      position: static;
      top: unset;
      margin-top: 0;
      z-index: 1;
      background-color: $white;
    }

    .slider--reviews & {
      @include min-media($screen-md) {
        @include size($slider-button-size--reviews);
      }
    }

    &--prev {
      left: 20px;

      .slider--nav-out & {
        left: unset;
      }
    }

    &--next {
      right: 20px;
      transform: rotateZ(180deg);

      .slider--nav-out & {
        right: unset;
        margin-left: 18px;
      }

      .slider--reviews & {
        @include min-media($screen-md) {
          margin-left: 23px;
        }
      }
    }

    svg {
      @include size(15px);
      fill: $white;

      .slider--nav-out & {
        fill: $secondary-color;
      }
    }
  }

  &__extra-block {
    position: relative;
    margin-top: -40px;
    z-index: 10;
    order: 1;
    transition: transform 0.5s ease-in;

    @include min-media($screen-md) {
      margin-top: 0;
      margin-right: 42px;
      width: $extra-block-width;
      z-index: 0;
      flex-shrink: 0;
      transition: flex-grow 0.5s ease-in;
      order: -1;
    }

    .slider--reviews-opened & {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      margin-top: 0;
      height: 100%;
      transform: translate3d(0, -100%, 0);

      @include min-media($screen-md) {
        position: static;
        margin-right: 0;
        height: 600px;
        padding-left: 20px;
        flex-basis: calc(100% - 300px);
        flex-grow: 1;
        order: 1;
      }
    }
  }
}
