.page-section {
  @include container();
  margin-top: 60px;

  &--main-video {
    display: none;

    @include min-media($screen-xl) {
      display: block;
    }
  }

  &--partners {
    display: none;

    @include min-media($screen-xl) {
      display: block;
    }
  }

  &__wrap {
    @include row();
  }

  &__content {
    @include col();
    @include col(sm, 12, $grid-columns, $grid-gutter-width-sm);
    @include col(md, 12, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 12, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 12, $grid-columns, $grid-gutter-width-xl);

    .page-section--no-xs-gutters & {

      @include range-media($screen-xs, $screen-sm) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &__title {
    margin-bottom: 34px;
    font-family: $secondary-font-family;
    font-size: 48px;
    line-height: 62px;
    color: $secondary-color;

    .page-section--no-xs-gutters & {

      @include range-media($screen-xs, $screen-sm) {
        margin-left: $grid-gutter-width / 2;
      }
    }
  }
}
