.page-section {
  @include container();
  position: relative;
  margin-top: 60px;

  &--main-video {
    display: none;

    @include min-media($screen-xl) {
      display: block;
    }
  }

  &--partners {
    display: none;

    @include min-media($screen-xl) {
      display: block;
    }
  }

  &--reviews {
    margin-top: 0;
  }

  &__wrap {
    @include row();

    .page-section--bg & {
      background-color: $gray;

      @include min-media($screen-md) {
        background-color: transparent;
      }
    }
  }

  &__content {
    @include col();
    @include col(sm, 12, $grid-columns, $grid-gutter-width-sm);
    @include col(md, 12, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 12, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 12, $grid-columns, $grid-gutter-width-xl);

    padding-top: 40px;
    padding-bottom: 10px;

    .page-section--bg & {
      padding-top: 45px;
      padding-bottom: 50px;
    }

    .page-section--reviews & {
      padding-bottom: 42px;
    }

    .page-section--blog-posts & {
      padding-bottom: 70px;
    }

    .page-section--no-xs-gutters & {

      @include range-media($screen-xs, $screen-sm) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &__title {
    margin-bottom: 37px;
    font-family: $secondary-font-family;
    font-size: 48px;
    line-height: 55px;
    color: $secondary-color;

    .page-section--no-xs-gutters & {

      @include range-media($screen-xs, $screen-sm) {
        margin-left: $grid-gutter-width / 2;
      }
    }

    .page-section--reviews & {
      margin-bottom: 20px;
    }
  }
}
