section.main-page-promo
  .main-page-promo__container
    .main-page-promo__inner
      .main-page-promo__content
        .main-page-promo__image
        .main-page-promo__main
          h2.main-page-promo__title
            | Учись и путешествуй!
          p.main-page-promo__text
            | Широкий выбор программ за рубежом
          a.main-page-promo__link(href='#')
            | Подробнее
