footer.page-footer
  .page-footer__main
    .page-footer__container
      .page-footer__row
        .page-footer__col
          .page-footer__logo
            +logo({ mods: 'large' })
          a.page-footer__link.page-footer__link--franchise(href='#') приобрести франшизу
            
        .page-footer__col.page-footer__col--menu
          ul.page-footer__menu
            li.page-footer__menu-item
              a.page-footer__menu-link(href='#') О компании
            li.page-footer__menu-item
              a.page-footer__menu-link(href='#') Программы
            li.page-footer__menu-item
              a.page-footer__menu-link(href='#') Услуги
          ul.page-footer__menu
            li.page-footer__menu-item
              a.page-footer__menu-link(href='#') Страны
            li.page-footer__menu-item
              a.page-footer__menu-link(href='#') Школы
            li.page-footer__menu-item
              a.page-footer__menu-link(href='#') Контакты
        .page-footer__col.page-footer__col--contacts
          a.page-footer__contact(href='tel: 88007377705') 8 800 737-77-05
          a.page-footer__link.page-footer__link--free(href='#') бесплатная линия
          +social-links({
            items: [
              {name: 'inst', link: '#'}, 
              {name: 'fb', link: '#'}, 
              {name: 'youtube', link: '#'}, 
              {name: 'vk', link: '#'}
            ],
            mods: 'footer'
          })
          a.page-footer__subscribe(href='#') подписаться на рассылку
  .page-footer__bottom
    .page-footer__container
      .page-footer__row
        .page-footer__col
          b.page-footer__copyright OOO «Экселенте», 2018 г.
        .page-footer__col
          small.page-footer__license Лицензия ФМС МВД РФ № 20110251124 от 13.08.2010 г. бессрочно
        .page-footer__col
          .page-footer__dev Разработка сайта
            a.page-footer__dev-link(href='#') DVIGA
