$mobile-trigger-size: 14px;
$tablet-header-height: 110px;

.header {

  @include min-media($screen-lg) {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  &--pick-place-opened {
    .header__logo:not(.header__logo--mobile):not(.header__logo--tablet) {
      display: none;
    }

    .header__search:not(.header__search--tablet) {
      display: none;
    }

    .header__pick-place {
      display: block;

      @include min-media($screen-md) {
        display: none;
      }

      @include min-media($screen-lg) {
        display: block;
      }
    }
  }

  &__mobile-header {
    background-color: $white;

    @include min-media($screen-md) {
      display: none;
    }

    @include min-media($screen-lg) {
      display: none;
    }
  }

  &__menu-trigger {
    @include size($mobile-trigger-size);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include min-media($screen-md) {
      @include size(50px);
      background-color: $main-color;
      margin-left: 45px;
    }

    @include min-media($screen-lg) {
      display: none;
    }

    & > span {
      position: relative;
      display: inline-block;
      @include size($mobile-trigger-size, 2px);
      background-color: $secondary-color;

      @include min-media($screen-md) {
        background-color: $white;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        @include size($mobile-trigger-size, 2px);
        background-color: $secondary-color;

        @include min-media($screen-md) {
          background-color: $white;
        }
      }

      &::before {
        top: -5px;
      }

      &::after {
        top: 5px;
      }

      .page--mobile-menu-opened & {
        background: 0 0;
        transition: background .3s .5s;
      }

      .page--mobile-menu-opened &::before,
      .page--mobile-menu-opened &::after {
        top: 0;
        transition: top .3s,transform .3s .5s;
      }

      .page--mobile-menu-opened &::before {
        transform: rotate3d(0,0,1,45deg);
      }

      .page--mobile-menu-opened &::after {
        transform: rotate3d(0,0,1,-45deg);
      }
    }

    &--tablet {
      display: none;

      @include min-media($screen-md) {
        display: flex;
      }

      @include min-media($screen-lg) {
        display: none;
      }
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: $white;
    overflow-y: auto;
    padding-bottom: 60px;

    .page--mobile-menu-opened & {
      display: block;
    }

    @include min-media($screen-md) {
      position: static;
      display: block;
      padding-bottom: 0;
      overflow-y: visible;
    }
  }

  &__main {
    position: relative;
    padding-left: $mobile-gutter;
    padding-right: $mobile-gutter;

    &--mobile-header {
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include min-media($screen-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    background-color: $white;

    &--top {

    }

    &--main {

      @include min-media($screen-md) {
        position: fixed;
        top: $tablet-header-height;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        padding-top: 32px;
        padding-bottom: 30px;
        overflow-y: auto;

        .page--mobile-menu-opened & {
          display: block;
        }
      }

      @include min-media($screen-lg) {
        position: static;
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        background-color: $main-color;
        overflow-y: visible;
      }
    }
  }

  &__container {
    @include min-media($screen-md) {
      @include container();
    }
  }

  &__row {
      @include min-media($screen-md) {
        @include row($grid-gutter-width, 46px);
      }
  }

  &__col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include min-media($screen-md) {
      @include col(xs, 12, $grid-columns, 100px);
      flex-direction: row;
    }

    @include min-media($screen-lg) {
      min-height: 50px;
      justify-content: space-between;
      flex-flow: nowrap;
    }

    &--top {
      flex-direction: row;

      @include min-media($screen-md) {
        min-height: $tablet-header-height;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
      }

      @include min-media($screen-lg) {
        min-height: 50px;
      }
    }

    &--main {
      flex-wrap: nowrap;
    }
  }

  &__tools {
    margin-top: 50px;
    margin-bottom: 70px;

    @include min-media($screen-md) {
      position: relative;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }

  &__logo {
    margin-right: 15px;
    display: none;

    @include min-media($screen-md) {
      margin-right: auto;
    }

    &--mobile {
      position: relative;
      left: -10px;
      display: block;
    }

    &--tablet {
      @include min-media($screen-md) {
        display: block;
      }

      @include min-media($screen-lg) {
          display: none;
      }
    }

    &--desktop {
      @include min-media($screen-lg) {
          display: block;
      }
    }
  }

  &__pick-place {
    position: absolute;
    top: 100px;
    left: $mobile-gutter;
    right: $mobile-gutter;
    bottom: 0;
    z-index: 10;
    display: none;

    @include min-media($screen-md) {
      right: auto;
      width: auto;
    }

    @include min-media($screen-lg) {
      top: 0;
      left: 0;
      width: 250px;
    }
  }

  &__label {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $main-color;
    cursor: pointer;

    @include min-media($screen-md) {
      margin-top: 0;
      font-size: 10px;
      font-weight: 400;
    }

    @include min-media($screen-lg) {
      font-size: 14px;
      line-height: 19px;
    }

    &--pick-place {
      flex-basis: 100%;

      @include min-media($screen-md) {
        display: none;
      }

      @include min-media($screen-lg) {
        // margin-left: 26px;
        margin-right: auto;
        display: block;
        flex-basis: auto;
      }
    }

    &--contact {
      display: none;
      margin-right: 40px;
      font-family: $secondary-font-family;
      font-size: 18px;
      line-height: 26px;
      color: $secondary-color;

      @include min-media($screen-lg) {
        display: block;
      }
    }

    &--auth {
      flex-basis: 100%;

      @include min-media($screen-md) {
        margin-right: 48px;
        margin-left: 45px;
        flex-basis: auto;
      }
    }

    &--stars {
      margin-right: 62px;

      @include min-media($screen-md) {
        margin-right: 22px;
      }
    }

    svg {
      @include size(18px, 21px);
      fill: $secondary-color;

      @include min-media($screen-md) {
        @include size(13px, 15px);
        fill: $main-color;
      }
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        @include size(100%, 1px);
        background-image: url($svg-icon + "line.svg");
      }

      &:first-child {
        margin-right: 11px;
      }

      &:last-child {
        margin-left: 11px;
      }

      @include min-media($screen-md) {
        &:first-child {
          margin-right: 6px;
        }

        &:last-child {
          margin-left: 6px;
        }
      }
    }
  }

  &__search {
    width: 100%;

    &--tablet {
      display: none;
    }

    @include min-media($screen-md) {
      display: none;

      &--tablet {
        max-width: 300px;
        margin-left: 25px;
        display: block;
      }
    }

    @include min-media($screen-lg) {
      &--tablet {
        display: none;
      }

      &--desktop {
        margin-left: 40px;
        display: block;
      }
    }
  }

  &__contacts {
    margin-top: 91px;

    @include min-media($screen-md) {
      margin-top: 0;
      margin-right: 50px;
      width: 175px;
      flex-shrink: 0;
      flex-grow: 0;
      order: -1;
    }

    @include min-media($screen-lg) {
      display: none;
    }
  }
}
