mixin baron(options)

  //- Принимает:
  //-   options.id     {string} - ID этого конкретного блока с кастомным скроллом
  //-   options.mods    {string} - список модификаторов
  //-   options.tag     {string} - тег
  //- Вызов:
        +baron({ id: 'some-mod' })(style='width:100px; height: 100px')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta aliquid nemo, sit possimus, eveniet tempore minus, doloremque incidunt, nihil quos aperiam ab iure quia. Ipsa sit porro incidunt, sed!
        .some-block
          +baron({ mods: 'section' })(class='some-block__demo')
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dicta aliquid nemo, sit possimus, eveniet tempore minus, doloremque incidunt, nihil quos aperiam ab iure quia. Ipsa sit porro incidunt, sed!

  -
    // список модификаторов
    var allMods = '';
    if(typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' baron--' + modsList[i].trim();
      }
    }
    var parentTag = 'div';
    if(typeof(options.tag) !== 'undefined' && options.tag) {
      parentTag = options.tag;
    }

  #{parentTag}.baron(id=options.id, class=allMods)&attributes(attributes)
    .baron__scroller
      block
    .baron__track
      .baron__control.baron__control--up ▲
      .baron__free
        .baron__bar
      .baron__control.baron__control--down ▼
