.header-contacts {

  @include min-media($screen-md) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: $main-color;

    @include min-media($screen-md) {
      margin-bottom: 0;
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
    }
  }

  &__contact {
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: 34px;
    line-height: 26px;
    font-weight: 700;
    color: $secondary-color;

    @include min-media($screen-md) {
      font-size: 24px;
      line-height: 26px;
    }
  }

  &__details {
    margin-top: 10px;
    display: none;
    font-size: 10px;
    line-height: 12px;
    color: #888888;

    @include min-media($screen-md) {
      display: block;
    }
  }

  &__social {
    margin-top: 66px;

    @include min-media($screen-md) {
      margin-top: auto;
      padding-bottom: 8px;
    }
  }
}
