.video {
  position: relative;
  width: 840px;
  height: 480px;

  &--centered {
    margin-right: auto;
    margin-left: auto;
  }

  &__content {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    transform: translate3d(-50%, -50%, 0);
  }

  &__play-icon {
    width: 160px;
    height: 160px;
    fill: none;
    stroke: $white;
    stroke-width: 3px;

    @include hover(".video__play") {
      stroke-width: 4px;
    }
  }
}
