.pick-place {
  position: relative;
  width: inherit;

  &__search {
    display: flex;
    align-items: center;
    width: inherit;
    padding: 9px 21px 11px 19px;
    background-color: $gray;

    @include min-media($screen-md) {

    }

    @include min-media($screen-xl) {
      height: 50px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 27px;
    }
  }

  &__field {
    width: 100%;
    padding: 0;
    padding-right: 10px;
    border: none;
    font-family: $base-font-family;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    background-color: transparent;

    @include placeholder {
      color: $black;
    }
  }

  &__close {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      @include size(10px);
      fill: $main-color;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    @include size(100%, 151px);
    padding: 17px 21px 17px 19px;
    background-color: red;

    @include min-media($screen-xl) {
      padding-top: 6px;
      padding-left: 27px;
    }
  }

  &__list {
    height: 100%;
    overflow-y: auto;
  }

  &__item {
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;

    &--active {
      color: $main-color;
      font-weight: 700;
    }

    @include min-media($screen-xl) {
      font-size: 16px;
      line-height: 32px;
    }
  }
}
