.pick-place {
  position: relative;
  width: inherit;

  &__search {
    display: flex;
    align-items: center;
    width: inherit;
    padding: 15px 21px 15px 28px;
    background-color: $gray;
  }

  &__field {
    width: 100%;
    padding: 0;
    padding-right: 10px;
    border: none;
    font-size: 16px;
    font-style: italic;
    line-height: 20px;
    background-color: transparent;

    @include placeholder {
      color: $black;
    }
  }

  &__close {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    svg {
      @include size(10px);
      fill: $main-color;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    @include size(100%, 150px);
    padding: 17px 21px 17px 28px;
    background-color: $white;
  }

  &__list {
    height: 100%;
    overflow-y: auto;
  }

  &__item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;

    &--active {
      color: $main-color;
      font-weight: 700;
    }
  }
}
