mixin main-reviews-slide(options)
  //- Принимает:
  //-   options.id  {string} - Id
  //-   options.name  {string} - Имя
  //-   options.imageName {string} - Название картинки
  //-   options.mods    {string} - список модификаторов
  //- Вызов:
        +main-reviews-slide({ name: 'Имя', imageName: 'имя',  mods: 'mods' })
  -
    // список модификаторов
    var allMods = '';
    if (typeof(options.mods) !== 'undefined' && options.mods) {
      var modsList = options.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' main-reviews-slide--' + modsList[i].trim();
      }
    }
  //-
  .main-reviews-slide(id=options.id)&attributes(attributes)
    picture
      source(media='(min-width: 768px)'
        srcset='static/images/content/reviews-slider/' + options.imageNameMd + '.jpg 1x, static/images/content/reviews-slider/' + options.imageNameMd + '@2x.jpg 2x, static/images/content/reviews-slider/' + options.imageNameMd + '@3x.jpg 3x')
      source(media='(min-width: 480px)'
        srcset='static/images/content/reviews-slider/' + options.imageNameSm + '.jpg 1x, static/images/content/reviews-slider/' + options.imageNameSm + '@2x.jpg 2x, static/images/content/reviews-slider/' + options.imageNameSm + '@3x.jpg 3x')
      img.main-reviews-slide__img(src='static/images/content/reviews-slider/' + options.imageNameXs + '.jpg' srcset='static/images/content/reviews-slider/' + options.imageNameXs + '@2x.jpg 2x, static/images/content/reviews-slider/' + options.imageNameXs + '@3x.jpg 3x')
    .main-reviews-slide__name= options.name
    .main-reviews-slide__overlay
