$extra-block-width: 260px;

.main-reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  display: none;

  @include min-media($screen-md) {
    flex-direction: row;
  }

  &__aside {
    position: relative;
    margin-top: -40px;
    z-index: 10;
    order: 1;
    transition: transform 0.5s ease-in;

    @include min-media($screen-md) {
      margin-top: 0;
      margin-right: 42px;
      width: $extra-block-width;
      z-index: 0;
      flex-shrink: 0;
      transition: flex-grow 0.5s ease-in;
      order: -1;
    }

    .main-reviews--opened & {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      bottom: 0;
      margin-top: 0;
      height: 100%;
      transform: translate3d(0, -100%, 0);

      @include min-media($screen-md) {
        position: static;
        margin-right: 0;
        height: 600px;
        padding-left: 20px;
        flex-basis: calc(100% - 300px);
        transform: none;
        flex-grow: 1;
        order: 1;
      }
    }
  }

  &__content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .main-reviews--opened & {
      padding: 10px;
      color: $white;
      background: rgba($main-color, 0.9);

      @include min-media($screen-md) {
        padding: 0;
        color: $black;
        background-color: $white;
      }
    }
  }

  &__header {
    position: relative;

    .main-reviews--opened & {
      margin-bottom: 10px;
    }
  }

  &__lang {
    display: block;
    @include size(56px, 40px);
    background-repeat: no-repeat;

    .main-reviews--opened & {
      display: none;

      @include min-media($screen-md) {
        display: block;
      }
    }

    &--italy {
      background-image: url('flag-italy.svg');
    }
  }

  &__content-name {
    margin-top: 35px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;

    @include min-media($screen-md) {
      margin-top: 80px;
    }

    .main-reviews--opened & {
      margin-top: 0;
      font-size: 15px;
      line-height: 16px;

      @include min-media($screen-md) {
        margin-top: 50px;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }

  &__location {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 18px;
    line-height: 40px;

    .main-reviews--opened & {
      font-size: 10px;
      line-height: 20px;

      @include min-media($screen-md) {
        font-size: 18px;
        line-height: 40px;
      }
    }
  }

  &__description {
    font-size: 14px;
    line-height: 24px;


    &--truncated {
      .main-reviews--opened & {
        display: none;
      }
    }

    &--full {
      display: none;

      .main-reviews--opened & {
        display: block;
        height: 100%;
        overflow-y: scroll;
      }
    }
  }


  &__more {
    font-size: 12px;
    color: $secondary-color;
    cursor: pointer;

    .main-reviews--opened & {
      display: none;
    }

    @include hover {
      color: $main-color;
    }

    @include active {
      color: $main-color;
    }
  }

  &__close {
    $close-size-small: 25px;
    $close-size-large: 50px;

    position: absolute;
    top: 0;
    right: 0;
    display: none;
    @include size($close-size-small);
    animation-name: rotateZ;
    animation-duration: 1s;
    animation-delay: 1.5s;
    cursor: pointer;

    @include min-media($screen-md) {
        @include size($close-size-large);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: calc(50% - 2px);
      left: 0;
      @include size($close-size-small, 4px);
      background-color: $secondary-color;

      @include min-media($screen-md) {
          width: $close-size-large;
      }
    }

    &::before {
      transform: rotate3d(0,0,1,45deg);
    }

    &::after {
      transform: rotate3d(0,0,1,-45deg);
    }

    @include active-pseudo-element() {
      background-color: $white;
    }

    @include min-media($screen-md) {

      @include active-pseudo-element() {
        background-color: $main-color;
      }

      @include hover-pseudo-element() {
        background-color: $main-color;
      }
    }

    .main-reviews--opened & {
      display: block;
    }
  }

  &__slider {
    width: 100%;
  }
}
