$footer-bottom-height: 45px;
$footer-nav-offset: -10px;

.page-footer {
  font-size: 12px;
  line-height: 16px;

  &__main {
    min-height: 220px;
    padding-top: 48px;
    padding-bottom: 33px;
    background-color: $main-color;

    @include min-media($screen-md) {
      padding-bottom: 20px;
    }
  }

  &__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $secondary-color;
    overflow: hidden;

    @include min-media($screen-md) {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white;
    }
  }

  &__container {
    @include container();
  }

  &__row {
    @include row();
  }

  &__col {
    @include col();
    @include col(md, 4, $grid-columns, $grid-gutter-width-md);
    @include col(xl, 3, $grid-columns, $grid-gutter-width-xl);

    &:nth-child(2) {
      @include col(xl, 6, $grid-columns, $grid-gutter-width-xl);
      display: flex;
      justify-content: center;

      @include min-media($screen-md) {
        display: block;
      }
    }

    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include col(md, 4, $grid-columns, $grid-gutter-width-md);
      @include col(xl, 3, $grid-columns, $grid-gutter-width-xl);

      @include min-media($screen-md) {
        align-items: flex-end;
      }
    }

    &--menu {
      margin-top: 70px;

      @include col(sm, 6, $grid-columns, $grid-gutter-width-sm);
      @include col(md, 4, $grid-columns, $grid-gutter-width-md);

      @include min-media($screen-md) {
        margin-top: 0;
      }
    }

    &--contacts {
      margin-top: 80px;
      @include col(sm, 6, $grid-columns, $grid-gutter-width-sm);

      @include min-media($screen-sm) {
        margin-top: 70px;
      }

      @include min-media($screen-md) {
        margin-top: 0;
      }
    }
  }

  &__logo {
    position: relative;
    text-align: center;

    @include min-media($screen-md) {
      top: -6px;
      text-align: left;
    }
  }

  &__menu {
    display: inline-block;

    &:first-child {
      margin-right: 65px;
    }

    @include min-media($screen-lg) {
      &:first-child {
        margin-right: 95px;
        margin-left: $footer-nav-offset;
      }
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin-bottom: 38px;
    }

    @include min-media($screen-md) {
      &:not(:last-child) {
        margin-bottom: 31px;
      }
    }
  }

  &__menu-link {
    position: relative;
    font-family: $secondary-font-family;
    font-size: 18px;
    line-height: 21px;
    color: $white;

    @include hover {
      color: $secondary-color;
    }

    @include active {
      color: $secondary-color;
    }

    @include min-media($screen-md) {
      @include underline(-4px);

      @include hover {
        color: $white;
      }

      @include active {
        color: $white;
      }

      @include hover-before {
        background-color: $secondary-color;
      }

      @include active-before {
        background-color: $secondary-color;
      }
    }
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    background-color: $secondary-color;
    color: $white;

    @include hover {
      background-color: lighten($secondary-color, 15%);
    }

    @include active {
      background-color: lighten($secondary-color, 15%);
    }

    &--free {
      margin-bottom: 30px;
      padding: 5px 12px;

      @include min-media($screen-md) {
        margin-bottom: 18px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &--franchise {
      display: none;

      @include min-media($screen-md) {
        margin-top: 51px;
        padding: 7px 18px;
        display: inline-block;
      }
    }

  }

  &__contact {
    margin-bottom: 17px;
    font-family: $secondary-font-family;
    font-size: 35px;
    line-height: 26px;
    color: $white;

    @include hover {
      color: $secondary-color;
    }

    @include active {
      color: $secondary-color;
    }

    @include min-media($screen-md) {
      margin-bottom: 5px;
      font-size: 28px;
    }
  }

  &__dev {
    position: relative;
    text-align: center;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: -10000px;
      @include size(10000px, 100%);
      background-color: $secondary-color;
    }

    @include min-media($screen-md) {
      padding-right: 16px;
      padding-left: 40px;
      line-height: $footer-bottom-height;
      text-align: left;
      background-color: $secondary-color;
    }

    @include min-media($screen-xl) {
      padding-left: 75px;
    }
  }

  &__dev-link {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    font-weight: 700;
    line-height: 16px;
    color: $white;

    @include underline();

    @include hover-before {
      background-color: $main-color;
    }

    @include active-before {
      background-color: $main-color;
    }
  }

  &__copyright {
    display: block;
    text-align: center;
    color: $white;

    @include min-media($screen-md) {
      margin-left: 11px;
      height: $footer-bottom-height;
      display: flex;
      align-items: center;
      text-align: left;
      color: $black;
    }
  }

  &__license {
    display: none;

    @include min-media($screen-md) {
      height: $footer-bottom-height;
      display: flex;
      align-items: center;
      font-size: 10px;
      line-height: 14px;
      color: #888888;
    }

    @include min-media($screen-lg) {
      margin-left: $footer-nav-offset;
    }
  }

  &__subscribe {
    display: none;

    @include min-media($screen-md) {
      position: relative;
      margin-top: 22px;
      display: block;
      font-size: 14px;
      line-height: 19px;
      color: $white;

      @include underline(-5px, $secondary-color);

      @include hover-before {
        background-color: $white;
      }

      @include active-before {
        background-color: $white;
      }
    }
  }
}
