form.pick-place(action='#' autocomplete='off')
  .pick-place__search
    input.pick-place__field(type='text' name='pick-place-city' placeholder='Название города')
    button.pick-place__close(type='button' data-pick-place-trigger)
      +icon({ name: 'close' })
  .pick-place__dropdown
    +baron({ id: 'baron-pick-place', mods: 'scrolling, dragging, scrollbar' })
      ul.pick-place__list
        li.pick-place__item.pick-place__item--active Губкин
        li.pick-place__item Гудермес
        li.pick-place__item Гуково
        li.pick-place__item Гусь-Хрустальный
        li.pick-place__item Гудермес
        li.pick-place__item Гуково
        li.pick-place__item Гусь-Хрустальный
