.page-header {

  @include min-media($screen-xl) {
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
  }

  &__mobile-header {
    background-color: $main-color;

    @include min-media($screen-md) {
      display: none;
    }

    @include min-media($screen-xl) {
      display: none;
    }

    .page--mobile-menu-opened & {
      background-color: $white;
    }
  }

  &__mobile-menu {
    position: fixed;
    z-index: 100;
    top: $mobile-header-height;
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 60px;
    display: none;
    overflow-y: auto;
    background-color: $white;

    @include min-media($screen-md) {
      position: static;
      padding-bottom: 0;
      display: block;
      overflow-y: visible;
    }

    .page--mobile-menu-opened & {
      display: block;
    }
  }

  &__main {
    position: relative;
    padding-right: 24px;
    padding-left: 34px;

    @include min-media($screen-md) {
      padding-right: 0;
      padding-left: 0;
    }

    &--mobile-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $mobile-header-height;
    }
  }

  &__content {
    background-color: $white;

    &--main {
      @include min-media($screen-md) {
        position: fixed;
        z-index: 100;
        top: $tablet-header-height;
        right: 0;
        left: 0;
        bottom: 0;
        padding-top: 49px;
        padding-bottom: 30px;
        display: none;
        overflow-y: auto;

        .page--mobile-menu-opened & {
          display: block;
        }
      }

      @include min-media($screen-xl) {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
        display: block;
        overflow-y: visible;
        background-color: $main-color;
      }
    }
  }

  &__container {
    @include min-media($screen-md) {
      @include container();
    }
  }

  &__row {
    @include min-media($screen-md) {
      // @include row($grid-gutter-width, 46px);
      @include row();
    }

    &--top {
      background-color: $main-color;

      @include min-media($screen-sm) {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @include min-media($screen-md) {
        margin-top: 0;
      }

      @include min-media($screen-xl) {
        background-color: $white;
      }

      .page--mobile-menu-opened & {
        background-color: $white;
      }
    }
  }

  &__col--top-left {
    @include col(md, 4, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 4, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 4, $grid-columns, $grid-gutter-width-xl);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: $mobile-header-height;

    @include min-media($screen-md) {
      justify-content: flex-start;
      min-height: $tablet-header-height;
    }

    @include min-media($screen-xl) {
      min-height: $desktop-header-height;
    }
  }

  &__col--top-right {
    @include col(md, 8, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 8, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 8, $grid-columns, $grid-gutter-width-xl);
    display: flex;
    flex-wrap: wrap;

    @include min-media($screen-md) {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      min-height: $tablet-header-height;
    }

    @include min-media($screen-xl) {
      min-height: $desktop-header-height;
    }
  }

  &__col--tools {
    @include col(xl, 5, $grid-columns, $grid-gutter-width-xl);
    margin-top: 50px;

    @include min-media($screen-sm) {
      margin-top: 30px;
      margin-bottom: 40px;
    }

    @include min-media($screen-md) {
      margin-top: 0;
      margin-bottom: 0;
      display: none;
    }

    @include min-media($screen-xl) {
      position: relative;
      display: flex;
      align-items: center;
    }
  }

  &__col--main-nav {
    @include col(md, 12, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 9, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 7, $grid-columns, $grid-gutter-width-xl);

    @include min-media($screen-xl) {
      padding-left: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__col--contacts {
    @include col(md, 12, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 3, $grid-columns, $grid-gutter-width-lg);
    margin-top: 75px;

    @include min-media($screen-sm) {
      margin-top: 35px;
    }

    @include min-media($screen-lg) {
      margin-top: 0;
      order: -1;
    }

    @include min-media($screen-xl) {
      display: none;
    }

    .page-header--pick-place-opened & {
      display: none;

      @include min-media($screen-md) {
        display: block;
      }

      @include min-media($screen-xl) {
        display: none;
      }
    }
  }

  &__menu-trigger {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: $mobile-trigger-size;
    height: $mobile-trigger-size;
    cursor: pointer;
    background-color: transparent;
    border: none;

    @include hover {
      opacity: 0.6;
    }

    @include min-media($screen-md) {
      top: -3px;
      margin-left: 54px;
      width: 50px;
      height: 50px;
      background-color: $main-color;
      outline: 1px solid $white;
    }

    @include min-media($screen-lg) {
      margin-right: 48px;
      margin-left: 43px;
    }

    @include min-media($screen-xl) {
      margin-left: 44px;
      display: none;
    }

    &--tablet {
      display: none;

      @include min-media($screen-md) {
        display: flex;
      }

      @include min-media($screen-xl) {
        display: none;
      }
    }
  }

  &__menu-trigger-inner {
    position: relative;
    display: inline-block;
    width: $mobile-trigger-size;
    height: 2px;
    background-color: $white;

    .page--mobile-menu-opened & {
      background: 0 0;
      transition: background 0.3s 0.5s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: $mobile-trigger-size;
      height: 2px;
      background-color: $white;
    }

    &::before {
      top: -5px;
    }

    &::after {
      top: 5px;
    }

    .page--mobile-menu-opened &::before,
    .page--mobile-menu-opened &::after {
      top: 0;
      background-color: $secondary-color;
      transition: top 0.3s, transform 0.3s 0.5s;

      @include min-media($screen-md) {
        background-color: $white;
      }
    }

    .page--mobile-menu-opened &::before {
      transform: rotate3d(0, 0, 1, 45deg);
    }

    .page--mobile-menu-opened &::after {
      transform: rotate3d(0, 0, 1, -45deg);
    }
  }

  &__logo {
    position: relative;
    margin-right: 15px;
    display: none;

    @include min-media($screen-md) {
      margin-right: auto;
    }

    .page-header--pick-place-opened &:not(&--mobile):not(&--tablet) {
      display: none;
    }

    &--mobile {
      position: relative;
      top: 2px;
      left: -20px;
      display: block;
    }

    &--tablet {
      @include min-media($screen-md) {
        top: 8px;
        display: block;
      }

      @include min-media($screen-xl) {
        display: none;
      }
    }

    &--desktop {
      @include min-media($screen-xl) {
        display: block;
      }
    }
  }

  &__pick-place {
    position: absolute;
    z-index: 10;
    top: 81px;
    right: $mobile-gutter;
    left: $mobile-gutter;
    bottom: 0;
    display: none;

    @include min-media($screen-sm) {
      top: 60px;
    }

    @include min-media($screen-md) {
      right: auto;
      width: auto;
    }

    @include min-media($screen-xl) {
      top: 0;
      left: 11px;
      width: 251px;
    }

    .page-header--pick-place-opened & {
      display: block;

      @include min-media($screen-md) {
        display: none;
      }

      @include min-media($screen-xl) {
        display: block;
      }
    }
  }

  &__search {
    width: 100%;

    @include min-media($screen-md) {
      display: none;
    }

    // .page-header--pick-place-opened &:not(&--tablet) {
    //   display: none;
    // }

    &--tablet {
      display: none;

      @include min-media($screen-md) {
        margin-left: 25px;
        display: block;
        max-width: 300px;
      }

      @include min-media($screen-xl) {
        display: none;
      }
    }

    &--desktop {
      @include min-media($screen-xl) {
        margin-left: 40px;
        display: block;
      }
    }
  }
}
