.page-header {

  @include min-media($screen-xl) {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }

  &__mobile-header {
    background-color: $main-color;

    .page--mobile-menu-opened & {
      background-color: $white;
    }

    @include min-media($screen-md) {
      display: none;
    }

    @include min-media($screen-xl) {
      display: none;
    }
  }

  &__mobile-menu {
    position: fixed;
    top: $mobile-header-height;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
    background-color: $white;
    overflow-y: auto;
    padding-bottom: 60px;

    .page--mobile-menu-opened & {
      display: block;
    }

    @include min-media($screen-md) {
      position: static;
      display: block;
      padding-bottom: 0;
      overflow-y: visible;
    }
  }

  &__main {
    position: relative;
    padding-left: 34px;
    padding-right: 24px;

    &--mobile-header {
      height: $mobile-header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include min-media($screen-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    background-color: $white;

    &--main {
      @include min-media($screen-md) {
        position: fixed;
        top: $tablet-header-height;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: none;
        padding-top: 49px;
        padding-bottom: 30px;
        overflow-y: auto;

        .page--mobile-menu-opened & {
          display: block;
        }
      }

      @include min-media($screen-xl) {
        position: static;
        display: block;
        padding-top: 0;
        padding-bottom: 0;
        background-color: $main-color;
        overflow-y: visible;
      }
    }
  }

  &__container {
    @include min-media($screen-md) {
      @include container();
    }
  }

  &__row {
    @include min-media($screen-md) {
      @include row($grid-gutter-width, 46px);
    }

    &--top {
      background-color: $main-color;

      .page--mobile-menu-opened & {
        background-color: $white;
      }

      @include min-media($screen-sm) {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      @include min-media($screen-md) {
        margin-top: 0;
      }

      @include min-media($screen-xl) {
        background-color: $white;
      }
    }
  }

  &__col {
    &--top-left {
      @include col(md, 4, $grid-columns, $grid-gutter-width-md);
      @include col(lg, 4, $grid-columns, $grid-gutter-width-lg);
      @include col(xl, 4, $grid-columns, $grid-gutter-width-xl);

      display: flex;
      justify-content: flex-end;
      align-items: center;

      min-height: $mobile-header-height;

      @include min-media($screen-md) {
        min-height: $tablet-header-height;
        justify-content: flex-start;
      }

      @include min-media($screen-xl) {
        min-height: $desktop-header-height;
      }
    }

    &--top-right {
      display: flex;
      flex-wrap: wrap;

      @include col(md, 8, $grid-columns, $grid-gutter-width-md);
      @include col(lg, 8, $grid-columns, $grid-gutter-width-lg);
      @include col(xl, 8, $grid-columns, $grid-gutter-width-xl);

      @include min-media($screen-md) {
        min-height: $tablet-header-height;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
      }

      @include min-media($screen-xl) {
        min-height: $desktop-header-height;
      }
    }

    &--tools {
      @include col(xl, 5, $grid-columns, $grid-gutter-width-xl);

      margin-top: 50px;

      @include min-media($screen-sm) {
        margin-top: 30px;
        margin-bottom: 40px;
      }

      @include min-media($screen-md) {
        margin-top: 0;
        margin-bottom: 0;
        display: none;
      }

      @include min-media($screen-xl) {
        position: relative;
        display: flex;
        align-items: center;
      }
    }

    &--main-nav {
      @include col(md, 12, $grid-columns, $grid-gutter-width-md);
      @include col(lg, 9, $grid-columns, $grid-gutter-width-lg);
      @include col(xl, 7, $grid-columns, $grid-gutter-width-xl);

      @include min-media($screen-xl) {
        display: flex;
        justify-content: flex-end;
        padding-left: 0;
      }
    }

    &--contacts {
      @include col(md, 12, $grid-columns, $grid-gutter-width-md);
      @include col(lg, 3, $grid-columns, $grid-gutter-width-lg);

      margin-top: 75px;

      .page-header--pick-place-opened & {
        display: none;

        @include min-media($screen-md) {
          display: block;
        }

        @include min-media($screen-xl) {
          display: none;
        }
      }

      @include min-media($screen-sm) {
        margin-top: 35px;
      }

      @include min-media($screen-lg) {
        margin-top: 0;
        order: -1;
      }

      @include min-media($screen-xl) {
        display: none;
      }
    }
  }

  &__menu-trigger {
    position: relative;
    @include size($mobile-trigger-size);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @include hover {
      opacity: 0.6;
    }

    @include min-media($screen-md) {
      top: -3px;
      margin-left: 54px;
      @include size(50px);
      background-color: $main-color;
      outline: 1px solid $white;
    }

    @include min-media($screen-lg) {
      margin-left: 43px;
      margin-right: 48px;
    }

    @include min-media($screen-xl) {
      display: none;
      margin-left: 44px;
    }

    & > span {
      position: relative;
      display: inline-block;
      @include size($mobile-trigger-size, 2px);
      background-color: $white;

      .page--mobile-menu-opened & {
        background-color: $secondary-color;
      }

      @include min-media($screen-md) {
        background-color: $white;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        @include size($mobile-trigger-size, 2px);
        background-color: $white;

        .page--mobile-menu-opened & {
          background-color: $secondary-color;

          @include min-media($screen-md) {
            background-color: $white;
          }
        }

        @include min-media($screen-md) {
          background-color: $white;
        }
      }

      &::before {
        top: -5px;
      }

      &::after {
        top: 5px;
      }

      .page--mobile-menu-opened & {
        background: 0 0;
        transition: background .3s .5s;
      }

      .page--mobile-menu-opened &::before,
      .page--mobile-menu-opened &::after {
        top: 0;
        transition: top .3s,transform .3s .5s;
      }

      .page--mobile-menu-opened &::before {
        transform: rotate3d(0,0,1,45deg);
      }

      .page--mobile-menu-opened &::after {
        transform: rotate3d(0,0,1,-45deg);
      }
    }

    &--tablet {
      display: none;

      @include min-media($screen-md) {
        display: flex;
      }

      @include min-media($screen-xl) {
        display: none;
      }
    }
  }

  &__logo {
    position: relative;
    margin-right: 15px;
    display: none;

    @include min-media($screen-md) {
      margin-right: auto;
    }

    &--mobile {
      position: relative;
      left: -20px;
      top: 2px;
      display: block;
    }

    &--tablet {
      @include min-media($screen-md) {
        display: block;
        top: 8px;
      }

      @include min-media($screen-xl) {
          display: none;
      }
    }

    &--desktop {
      @include min-media($screen-xl) {
          display: block;
      }
    }

    .page-header--pick-place-opened  &:not(&--mobile):not(&--tablet) {
      display: none;
    }
  }

  &__pick-place {
    position: absolute;
    top: 81px;
    left: $mobile-gutter;
    right: $mobile-gutter;
    bottom: 0;
    z-index: 10;
    display: none;

    @include min-media($screen-sm) {
      top: 60px;
    }

    @include min-media($screen-md) {
      right: auto;
      width: auto;
    }

    @include min-media($screen-xl) {
      top: 0;
      left: 11px;
      width: 251px;
    }

    .page-header--pick-place-opened & {
      display: block;

      @include min-media($screen-md) {
        display: none;
      }

      @include min-media($screen-xl) {
        display: block;
      }
    }
  }

  &__label {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: $main-color;
    cursor: pointer;

    @include hover() {
      opacity: 0.8;
    }

    @include active() {
      opacity: 0.8;
    }

    @include min-media($screen-sm) {
      flex-basis: auto;
      font-size: 12px;
    }

    @include min-media($screen-md) {
      margin-top: 0;
      font-size: 10px;
      font-weight: 400;
      color: $white;

      .page--mobile-menu-opened & {
        color: $main-color;
      }
    }

    @include min-media($screen-xl) {
      font-size: 14px;
      line-height: 19px;
      color: $main-color;
    }

    &--pick-place {
      margin-top: 35px;
      flex-basis: 100%;

      .page-header--pick-place-opened & {
        color: $secondary-color;

        svg {
          fill: $secondary-color;
        }
      }

      @include min-media($screen-sm) {
        margin-top: 0;
        flex-basis: auto;
      }

      @include min-media($screen-md) {
        display: none;
      }

      @include min-media($screen-xl) {
        margin-right: auto;
        display: block;
        flex-basis: auto;
      }
    }

    &--contact {
      display: none;
      font-family: $secondary-font-family;
      font-size: 18px;
      line-height: 26px;
      color: $secondary-color;

      @include min-media($screen-md) {
        margin-top: 0;
      }

      @include min-media($screen-xl) {
        margin-right: 34px;
        display: block;
      }
    }

    &--auth {
      margin-top: 58px;
      flex-basis: 100%;

      @include min-media($screen-sm) {
        margin-top: 0;
        margin-right: 15px;
        flex-basis: auto;
      }

      @include min-media($screen-md) {
        margin-left: 36px;
        flex-basis: auto;
      }

      @include min-media($screen-xl) {
        margin-right: 47px;
        margin-left: 0;
      }
    }

    &--stars {
      margin-top: 51px;
      margin-right: 61px;

      @include min-media($screen-sm) {
        margin-top: 0;
        margin-right: 10px;
      }

      @include min-media($screen-md) {
        margin-right: 15px;
      }

      @include min-media($screen-lg) {
        margin-right: 0;
        margin-left: 13px;
      }

      @include min-media($screen-xl) {
        margin-right: 13px;
        margin-left: -7px;
      }
    }

    &.page-header__label--stars {

      @include min-media($screen-xl) {
        svg {
          @include size(18px, 18px);
        }
      }
    }

    &--cart {
      margin-top: 51px;

      @include min-media($screen-sm) {
        margin-top: 0;
      }
    }

    svg {
      @include size(18px, 21px);
      fill: $secondary-color;

      @include min-media($screen-sm) {
        @include size(14px, 14px);
      }

      @include min-media($screen-md) {
        @include size(16px, 16px);
        fill: $white;

        .page--mobile-menu-opened & {
          fill: $main-color;
        }
      }

      @include min-media($screen-md) {
        @include size(13px, 15px);
      }

      @include min-media($screen-xl) {
        fill: $main-color;
      }
    }
  }


  &__label-text {
    position: relative;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      @include size(100%, 1px);
      border-top: 1px dashed $main-color;
    }

    &:first-child {
      margin-right: 11px;
    }

    &:last-child {
      margin-left: 13px;
    }

    @include min-media($screen-sm) {
      order: 1;

      &:first-child {
        margin-right: 9px;
        margin-left: 9px;
      }

      &:last-child {
        margin-left: 9px;
      }
    }

    @include min-media($screen-md) {
      order: unset;
      margin-left: 0;

      &:first-child {
        margin-right: 6px;
      }

      &:last-child {
        margin-left: 6px;
      }
    }

    @include min-media($screen-xl) {
      &:first-child {
        margin-right: 9px;
      }

      &:last-child {
        margin-left: 9px;
      }
    }

    .page-header__label--stars & {
      @include min-media($screen-md) {
        position: absolute;
        top: -17px;
        right: -15px;
        order: -1;
      }

      @include min-media($screen-lg) {
        position: static;
      }
    }

    .page-header__label--cart & {
      display: inline-block;

      &::after {
        content: " ₽";
        margin-right: 17px;
      }

      @include min-media($screen-sm) {
        &::after {
          content: " р";
          margin-right: 0;
        }
      }

      @include min-media($screen-md) {
        position: absolute;
        top: -17px;
        right: -28px;
        order: -1;

        &::after {
          position: absolute;
        }
      }

      @include min-media($screen-lg) {
        position: static;

        &::after {
          position: static;
        }
      }
    }

    .page-header__label--auth & {
      @include min-media($screen-md) {
        display: none;
      }

      @include min-media($screen-lg) {
        display: block;
        order: -1;
        margin-right: 10px;
      }
    }

    .page-header__label--pick-place & {
      margin-left: 13px;

      &::before {
        content: "";
      }

      @include min-media($screen-md) {

      }
    }
  }

  &__search {
    width: 100%;

    &--tablet {
      display: none;
    }

    .page-header--pick-place-opened &:not(&--tablet) {
      display: none;
    }

    @include min-media($screen-md) {
      display: none;

      &--tablet {
        max-width: 300px;
        margin-left: 25px;
        display: block;
      }
    }

    @include min-media($screen-xl) {
      &--tablet {
        display: none;
      }

      &--desktop {
        margin-left: 40px;
        display: block;
      }
    }
  }
}
