footer.footer
  .footer__main
    .footer__container
      .footer__row
        .footer__col
          .footer__logo
            +logo({ mods: 'large' })
          a.footer__link.footer__link--franchise(href='#') приобрести франшизу
            
        .footer__col.footer__col--menu
          ul.footer__menu
            li.footer__menu-item
              a.footer__menu-link(href='#') О компании
            li.footer__menu-item
              a.footer__menu-link(href='#') Программы
            li.footer__menu-item
              a.footer__menu-link(href='#') Услуги
          ul.footer__menu
            li.footer__menu-item
              a.footer__menu-link(href='#') Страны
            li.footer__menu-item
              a.footer__menu-link(href='#') Школы
            li.footer__menu-item
              a.footer__menu-link(href='#') Контакты
        .footer__col.footer__col--contacts
          a.footer__contact(href='tel: 88007377705') 8 800 737-77-05
          a.footer__link.footer__link--free(href='#') бесплатная линия
          +social-links({
            items: [
              {name: 'inst', link: '#'}, 
              {name: 'fb', link: '#'}, 
              {name: 'youtube', link: '#'}, 
              {name: 'vk', link: '#'}
            ],
            mods: 'footer'
          })
          a.footer__subscribe(href='#') подписаться на рассылку
  .footer__bottom
    .footer__container
      .footer__row
        .footer__col
          b.footer__copyright OOO «Экселенте», 2018 г.
        .footer__col
          small.footer__license Лицензия ФМС МВД РФ № 20110251124 от 13.08.2010 г. бессрочно
        .footer__col
          .footer__dev Разработка сайта
            a.footer__dev-link(href='#') DVIGA
