.main-page-promo {
  display: none;

  @include min-media($screen-md) {
    display: block;
  }

  &__container {
    @include container();
  }

  &__inner {
    @include row();
  }

  &__content {
    @include col();
    @include col(sm, 12, $grid-columns, $grid-gutter-width-sm);
    @include col(md, 12, $grid-columns, $grid-gutter-width-md);
    @include col(lg, 12, $grid-columns, $grid-gutter-width-lg);
    @include col(xl, 12, $grid-columns, $grid-gutter-width-xl);

    padding-top: 57px;
    padding-bottom: 46px;
    display: flex;
    justify-content: center;
  }

  &__image {
    position: relative;
    margin-right: 70px;
    width: 253px;
    height: 135px;

    &::before {
      @include png("bus", 253px, 135px);
      content: "";
      position: absolute;
      top: 0;
      left: 14px;
    }
  }

  &__title {
    margin-top: 7px;
    font-family: $secondary-font-family;
    font-size: 44px;
    line-height: 57px;
    color: $secondary-color;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: $black;
  }

  &__link {
    $letter-spacing: 4px;
    @include underline(-4px, $main-color, 2px, $letter-spacing);

    position: relative;
    margin-top: 22px;
    display: inline-block;
    font-family: $secondary-font-family;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    color: $main-color;

    @include hover {
      color: $secondary-color;
    }

    @include active {
      color: $secondary-color;
    }

    &::before {
      @include hover {
        background-color: $secondary-color;
      }

      @include active {
        background-color: $secondary-color;
      }
    }
  }
}
